@import "../../vars", "../../mixins", "../../functions", "review";


.feedback {
  background: white;


  &__container {
    @include padding-vertical(63px, 48px);
    min-height: 547px;

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size-tablet-desktop(38, 63), calc-size-tablet-desktop(32, 48));
      min-height: calc-size-tablet-desktop(401, 547);
    }

    @media (max-width: $SizeTablet) {
      @include padding-vertical(38px, 32px);
      min-height: 401px;
    }

    @media (max-width: $Breakpoint-730) {
      @include padding-vertical(calc-size-phone-730px(12, 38), calc-size-phone-730px(12, 32));
      min-height: calc-size-phone-730px(324, 401);
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(12px, 12px);
      min-height: 324px;
    }
  }


  &__title {
    @media (max-width: $Breakpoint-730) {
      @include font-size(calc-size-phone-730px(28, 36), calc-size-phone-730px(34, 43));
    }

    @media (max-width: $SizePhone) {
      @include font-size(28px, 34px);
    }
  }


  &__reviews {
    width: 960px;
    position: relative;
    margin: 54px auto 0;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(580, 960);
      margin: calc-size-tablet-desktop(22, 54) auto 0;
    }

    @media (max-width: $SizeTablet) {
      width: 580px;
      margin: 22px auto 0;
    }

    @media (max-width: $Breakpoint-730) {
      width: calc-size-phone-730px(230, 460);
      margin: calc-size-phone-730px(7, 16) auto 0;
    }

    @media (max-width: $SizePhone) {
      width: $InputWidthSm;
      padding: 0 24px;
      margin: 7px auto 0;
    }
  }
}


.feedback__reviews.slick {
  &-slider {
    display: flex;
  }


  &-slider .slick-slide {
    display: grid;
  }
}


.feedback__reviews .slick {
  &-arrow {
    top: 122px;

    @media (max-width: $SizeDesktop - 1px) {
      top: calc-size-tablet-desktop(77, 122);
    }

    @media (max-width: $Breakpoint-730) {
      top: 118px;
    }
  }


  &-prev {
    left: -95px;

    @media (max-width: $SizeDesktop - 1px) {
      left: calc-size-tablet-desktop(-57, -95);
    }

    @media (max-width: $SizeTablet - 1px) {
      left: calc-size(-38, -57, $Breakpoint-730N, $SizeTabletN);
    }

    @media (max-width: $Breakpoint-730 - 1px) {
      left: calc-size-phone-730px(-22, -95);
    }

    @media (max-width: $SizePhone) {
      left: 2px;
    }
  }


  &-next {
    right: -95px;

    @media (max-width: $SizeDesktop - 1px) {
      right: calc-size-tablet-desktop(-58, -95);
    }

    @media (max-width: $SizeTablet - 1px) {
      right: calc-size(-39, -58, $Breakpoint-730N, $SizeTabletN);
    }

    @media (max-width: $Breakpoint-730 - 1px) {
      right: calc-size-phone-730px(-22, -96);
    }

    @media (max-width: $SizePhone) {
      right: 2px;
    }
  }
}