@import "../../vars", "../../mixins", "../../functions";


.review {
  width: 500px;
  display: grid;
  grid-template-columns: 160px 260px;
  grid-template-areas: "photo info" "message message";
  grid-gap: 23px 40px;

  @media (max-width: $SizeDesktop - 1px) {
    width: calc-size-tablet-desktop(300, 500);
    grid-template-columns: calc-size-tablet-desktop(100, 160) calc-size-tablet-desktop(160, 260);
    grid-gap: calc-size-tablet-desktop(10, 23) calc-size-tablet-desktop(19, 39);
  }

  @media (max-width: $SizeTablet) {
    width: 300px;
    grid-template-columns: 100px 160px;
    grid-gap: 10px 19px;
  }

  @media (max-width: $Breakpoint-730) {
    width: calc-size(250, 460, $SizePhoneN, $Breakpoint-730N);
    grid-template-columns: calc-size(100, 160, $SizePhoneN, $Breakpoint-730N)
                           calc-size(111, 270, $SizePhoneN, $Breakpoint-730N);
    grid-gap: calc-size(9, 12, $SizePhoneN, $Breakpoint-730N) calc-size(19, 30, $SizePhoneN, $Breakpoint-730N);
  }

  @media (max-width: $SizePhone) {
    width: 250px;
    grid-template-columns: 100px 111px;
    grid-gap: 9px 19px;
  }


  &__photo {
    grid-area: photo;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin-top: 6px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(100, 160);
      height: calc-size-tablet-desktop(100, 160);
    }

    @media (max-width: $Breakpoint-730) {
      width: calc-size(100, 160, $SizePhoneN, $Breakpoint-730N);
      height: calc-size(100, 160, $SizePhoneN, $Breakpoint-730N);
    }

    @media (max-width: $SizePhone), (min-width: $Breakpoint-730 + 1px) and (max-width: $SizeTablet) {
      width: 100px;
      height: 100px;
    }


    img {
      width: inherit;
      height: inherit;
    }
  }


  &__info {
    grid-area: info;
  }


  &__name {
    @include font-family("light");
    text-transform: none;
    letter-spacing: 1px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(26, 36), calc-size-tablet-desktop(31, 43));
      letter-spacing: calc-size-tablet-desktop(0.8, 1);
      margin-left: calc-size-tablet-desktop(1, 0);
    }

    @media (max-width: $Breakpoint-730) {
      @include font-size(calc-size(26, 32, $SizePhoneN, $Breakpoint-730N),
                         calc-size(31, 43, $SizePhoneN, $Breakpoint-730N));
      letter-spacing: calc-size(0.7, 1, $SizePhoneN, $Breakpoint-730N);
      margin-left: calc-size(1, 0, $SizePhoneN, $Breakpoint-730N);
    }

    @media (max-width: $SizePhone), (min-width: $Breakpoint-730 + 1px) and (max-width: $SizeTablet) {
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.7px;
      margin-left: 1px;
    }
  }


  &__title {
    @include font-size(20px, 24px);
    margin-top: 14px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(18, 20), calc-size-tablet-desktop(22, 24));
      margin-top: calc-size-tablet-desktop(2, 14);
    }

    @media (max-width: $Breakpoint-730) {
      @include font-size(calc-size(18, 20, $SizePhoneN, $Breakpoint-730N),
                         calc-size(22, 24, $SizePhoneN, $Breakpoint-730N));
      margin-top: calc-size(2, 14, $SizePhoneN, $Breakpoint-730N);
    }

    @media (max-width: $SizePhone), (min-width: $Breakpoint-730 + 1px) and (max-width: $SizeTablet) {
      @include font-size(18px, 22px);
      margin-top: 2px;
    }
  }


  &__parcel, &__from-where, &__where-to {
    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(10, 16), calc-size-tablet-desktop(12, 19));
    }

    @media (max-width: $Breakpoint-730) {
      @include font-size(calc-size(10, 16, $SizePhoneN, $Breakpoint-730N),
                         calc-size(12, 19, $SizePhoneN, $Breakpoint-730N));
    }

    @media (max-width: $SizePhone), (min-width: $Breakpoint-730 + 1px) and (max-width: $SizeTablet) {
      font-size: 10px;
      line-height: 12px;
    }
  }


  &__parcel {
    margin-top: 16px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(8, 16);
    }

    @media (max-width: $Breakpoint-730) {
      margin-top: calc-size(8, 16, $SizePhoneN, $Breakpoint-730N);
    }

    @media (max-width: $SizePhone), (min-width: $Breakpoint-730 + 1px) and (max-width: $SizeTablet) {
      margin-top: 8px;
    }
  }


  &__from-where {
    margin-top: 5px;
  }


  &__where-to {
    margin-top: 3px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(4, 3);
    }

    @media (max-width: $Breakpoint-730) {
      margin-top: calc-size(4, 3, $SizePhoneN, $Breakpoint-730N);
    }

    @media (max-width: $SizePhone), (min-width: $Breakpoint-730 + 1px) and (max-width: $SizeTablet) {
      margin-top: 4px;
    }
  }


  &__message {
    grid-area: message;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(14, 16), calc-size-tablet-desktop(17, 19));
    }

    @media (max-width: $SizeTablet) {
      @include font-size(14px, 17px);
    }

    @media (max-width: $Breakpoint-730) {
      @include font-size(calc-size(12, 16, $SizePhoneN, $Breakpoint-730N),
                         calc-size(15, 19, $SizePhoneN, $Breakpoint-730N));
      margin-top: 1px;
    }

    @media (max-width: $SizePhone) {
      @include font-size(12px, 15px);
    }
  }
}