@import "../../vars", "../../mixins", "menu";


.header {
  &__container {
    @include background-image("background.jpg", 0, -2px);
    @include flex-hbetween;
    overflow: hidden;
    min-height: $HeightDesktopBG;
    padding-top: 28px;
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      min-height: calc-size-tablet-desktop($HeightTabletBGN, $HeightDesktopBGN);
      background-size: calc-size-tablet-desktop($WidthTabletBGN, $WidthDesktopBGN) auto;
      background-position: calc-size-tablet-desktop(-258, 0) calc-size-tablet-desktop(0, -2);
    }

    @media (max-width: $SizeTablet - 1px) {
      min-height: calc-size-phone-tablet($HeightPhoneBGN - 5, $HeightTabletBGN - 5);
      background-size: calc-size-phone-tablet($WidthPhoneBGN, $WidthTabletBGN) auto;
      background-position: calc-size-phone-tablet(-412, -258) calc-size-phone-tablet(-11, -2);
    }

    @media (max-width: $Breakpoint-630) {
      min-height: calc(#{$HeightTabletBG + 274px}
                       - (#{$SizeTablet} - 100vw) * #{($HeightTabletBGN - $HeightPhoneBGN) / ($SizeTabletN - $SizePhoneN)}
                       - (#{$Breakpoint-630} - 100vw) * #{58 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      min-height: #{$HeightPhoneBG + 216px};
      background-size: $WidthPhoneBG;
      background-position: -412px -11px;
    }
  }


  &__logo {
    width: 160px;
    height: 46px;
    margin-top: -1px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(100, 160);
      height: calc-size-tablet-desktop(29, 46);
      margin-top: calc-size-tablet-desktop(1, -1);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: 100px;
      height: 29px;
      margin-top: calc-size-phone-tablet(-1, 1);
    }

    @media (max-width: $SizePhone) {
      margin-top: -1px;
    }
  }


  &__menu-icon {
    padding: 4px 2px 2px;
    margin: -5px -2px 0 0;

    svg {
      fill: white;
    }
  }


  &__caption {
    @include position-top-left(153px, 140px);
    width: 60%;
    min-width: 278px;
    position: absolute;

    @media (max-width: $SizeDesktop - 1px) {
      @include position-top-left(calc-size-tablet-desktop(105, 153),
                                 calc-size-tablet-desktop($ContainerPaddingMdN, $ContainerPaddingLgN));
    }

    @media (max-width: $SizeTablet - 1px) {
      @include position-top-left(calc-size(88, 105, $Breakpoint-630N, $SizeTabletN),
                                 calc-size-phone-tablet($ContainerPaddingSmN, $ContainerPaddingMdN));
    }

    @media (max-width: $Breakpoint-630) {
      @include position-top-bottom(auto, calc-size-phone-630px(27, 33));
      width: 80%;
    }

    @media (max-width: $SizePhone) {
      @include position-bottom-left(27px, $ContainerPaddingSm);
    }
  }


  &__text {
    color: white;

    @media (max-width: $Breakpoint-630) {
      color: black;
    }


    &:nth-child(1) {
      @media (max-width: $SizeDesktop - 1px) {
        @include font-size(calc-size-tablet-desktop(44, 48), calc-size-tablet-desktop(53, 58));
      }

      @media (max-width: $SizeTablet - 1px) {
        @include font-size(calc-size-phone-tablet(32, 44), calc-size-phone-tablet(38, 53));
      }

      @media (max-width: $SizePhone) {
        @include font-size(32px, 38px);
      }
    }


    &:nth-child(2) {
      text-transform: none;
      margin-top: 24px;

      @media (max-width: $SizeDesktop - 1px) {
        @include font-size(calc-size-tablet-desktop(28, 36), calc-size-tablet-desktop(34, 43));
        margin-top: calc-size-tablet-desktop(21, 24);
      }

      @media (max-width: $SizeTablet - 1px) {
        @include font-size(calc-size-phone-tablet(24, 28), calc-size-phone-tablet(29, 34));
        margin-top: calc-size-phone-tablet(10, 21);
      }

      @media (max-width: $SizePhone) {
        @include font-size(24px, 29px);
        margin-top: 10px;
      }
    }
  }


  &__button {
    margin-top: 42px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(41, 42);
    }

    @media (max-width: $SizeTablet) {
      margin-top: calc-size-phone-tablet(21, 41);
    }

    @media (max-width: $SizePhone) {
      margin-top: 21px;
    }
  }
}