@import "../../vars", "../../mixins", "menu";


.header {
  &__container {
    overflow: hidden;
    min-height: $HeightDesktopBG;
    background: url("../images/background.jpg") no-repeat 0 -2px;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      min-height: calc(#{$HeightDesktopBG} - (#{$SizeDesktop} - 100vw) * #{($HeightDesktopBGN - $HeightTabletBGN) / ($SizeDesktopN - $SizeTabletN)});
      background-size: calc(1440px - (#{$SizeDesktop} - 100vw) * #{302 / ($SizeDesktopN - $SizeTabletN)}) auto;
      background-position: calc((#{$SizeDesktop} - 100vw) * #{-258 / ($SizeDesktopN - $SizeTabletN)})
                           calc(-2px + (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      min-height: calc(#{$HeightTabletBG} - 5px - (#{$SizeTablet} - 100vw) * #{($HeightTabletBGN - $HeightPhoneBGN) / ($SizeTabletN - $SizePhoneN)});
      background-size: calc(1138px - (#{$SizeTablet} - 100vw) * #{348 / ($SizeTabletN - $SizePhoneN)}) auto;
      background-position: calc(-258px - (#{$SizeTablet} - 100vw) * #{154 / ($SizeTabletN - $SizePhoneN)})
                           calc(-2px - (#{$SizeTablet} - 100vw) * #{9 / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $Breakpoint-630) {
      min-height: calc(#{$HeightTabletBG + 284px} - (#{$SizeTablet} - 100vw) * #{($HeightTabletBGN - $HeightPhoneBGN) / ($SizeTabletN - $SizePhoneN)} - (#{$Breakpoint-630} - 100vw) * #{57 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      min-height: #{$HeightPhoneBG + 227px};
      background-size: 790px;
      background-position: -412px -11px;
    }
  }


  &__logo {
    width: 160px;
    height: 46px;
    margin-top: -1px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(160px - (#{$SizeDesktop} - 100vw) * #{60 / ($SizeDesktopN - $SizeTabletN)});
      height: calc(46px - (#{$SizeDesktop} - 100vw) * #{17 / ($SizeDesktopN - $SizeTabletN)});
      margin-top: calc(-1px + (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      width: 100px;
      height: 29px;
      margin-top: calc(1px - (#{$SizeTablet} - 100vw) * #{2 / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      margin-top: -1px;
    }
  }


  &__menu-icon {
    cursor: pointer;
    height: fit-content;
    padding: 4px 2px;
    margin: -5px -2px 0 0;


    input[type="checkbox"] {
      display: none;
    }
  }


  &__caption {
    width: 60%;
    min-width: 278px;
    position: absolute;
    top: 153px;
    left: 140px;

    @media (max-width: $SizeDesktop - 1px) {
      top: calc(153px - (#{$SizeDesktop} - 100vw) * #{48 / ($SizeDesktopN - $SizeTabletN)});
      left: calc(#{$ContainerPaddingLg} - (#{$SizeDesktop} - 100vw) * #{($ContainerPaddingLgN - $ContainerPaddingMdN) / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      top: calc(105px - (#{$SizeTablet} - 100vw) * #{17 / ($SizeTabletN - $Breakpoint-630N)});
      left: calc(#{$ContainerPaddingMd} - (#{$SizeTablet} - 100vw) * #{($ContainerPaddingMdN - $ContainerPaddingSmN) / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $Breakpoint-630) {
      width: 80%;
      top: auto;
      bottom: calc(44px - (#{$Breakpoint-630} - 100vw) * #{6 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      bottom: 38px;
      left: $ContainerPaddingSm;
    }
  }


  &__text {
    color: white;

    @media (max-width: $Breakpoint-630) {
      color: black;
    }


    &:nth-child(1) {
      @media (max-width: $SizeDesktop - 1px) {
        font-size: calc(48px - (#{$SizeDesktop} - 100vw) * #{4 / ($SizeDesktopN - $SizeTabletN)});
        line-height: calc(58px - (#{$SizeDesktop} - 100vw) * #{5 / ($SizeDesktopN - $SizeTabletN)});
      }

      @media (max-width: $SizeTablet - 1px) {
        font-size: calc(44px - (#{$SizeTablet} - 100vw) * #{12 / ($SizeTabletN - $SizePhoneN)});
        line-height: calc(53px - (#{$SizeTablet} - 100vw) * #{15 / ($SizeTabletN - $SizePhoneN)});
      }

      @media (max-width: $SizePhone) {
        font-size: 32px;
        line-height: 38px;
      }
    }


    &:nth-child(2) {
      text-transform: none;
      margin-top: 24px;

      @media (max-width: $SizeDesktop - 1px) {
        font-size: calc(36px - (#{$SizeDesktop} - 100vw) * #{8 / ($SizeDesktopN - $SizeTabletN)});
        line-height: calc(43px - (#{$SizeDesktop} - 100vw) * #{9 / ($SizeDesktopN - $SizeTabletN)});
        margin-top: calc(24px - (#{$SizeDesktop} - 100vw) * #{3 / ($SizeDesktopN - $SizeTabletN)});
      }

      @media (max-width: $SizeTablet - 1px) {
        font-size: calc(28px - (#{$SizeTablet} - 100vw) * #{4 / ($SizeTabletN - $SizePhoneN)});
        line-height: calc(34px - (#{$SizeTablet} - 100vw) * #{5 / ($SizeTabletN - $SizePhoneN)});
        margin-top: calc(21px - (#{$SizeTablet} - 100vw) * #{11 / ($SizeTabletN - $SizePhoneN)});
      }

      @media (max-width: $SizePhone) {
        font-size: 24px;
        line-height: 29px;
        margin-top: 10px;
      }
    }
  }


  &__button {
    margin-top: 42px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc(42px - (#{$SizeDesktop} - 100vw) * #{1 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet) {
      margin-top: calc(41px - (#{$SizeTablet} - 100vw) * #{20 / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      margin-top: 21px;
    }
  }
}