@import "../../vars", "../../mixins", "../../functions";


.main-menu {
  @media (max-width: $SizeTablet - 1px) {
    @include hide;
  }

  &__list {
    @include flex-vcenter;
    padding: 8px 2px 0 0;

    @media (max-width: $SizeDesktop - 1px) {
      padding: calc-size-tablet-desktop(6, 8) 2px 0 0;
      margin-right: calc-size-tablet-desktop(-3, 0);
    }
  }


  &__item {
    margin-left: 60px;
    order: 7;

    @media (max-width: $SizeDesktop - 1px) {
      margin-left: calc-size-tablet-desktop(33, 60);
    }

    @media (max-width: $SizeTablet - 1px) {
      margin-left: 33px;
    }

    @media (max-width: $Breakpoint-830) {
      &:nth-of-type(4), &:nth-of-type(6) {
        order: 3;
      }

      &:nth-of-type(2), &:nth-of-type(5) {
        order: 5;
      }
    }


    &:first-of-type {
      order: 1;
      margin-left: 0;
    }
  }


  &__link {
    @include font-size(18px, 22px);
    color: white;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(14, 18), calc-size-tablet-desktop(17, 22));
    }


    @media (pointer: fine) {
      &:hover:not(:active) {
        border-bottom: 1px solid white;
      }

      &:active {
        border-bottom: 1px solid white;
      }
    }
  }
}