@import "../mixins", "../vars", "../functions";


.breadcrumbs {
  display: flex;

  &__item {
    @include font-size(14px, 17px);
    text-decoration: none;
    color: $DarkGray;
    border: none;
    margin-left: 3px;
    &:before {
      content: "/";
      display: inline-block;
      margin-right: 3px;
    }

    &:first-of-type {
      margin-left: 0;
      &:before {
        content: "";
        margin-right: 0;
      }
    }


    @media (pointer: fine) {
      &:hover:not(:active) {
        text-decoration: underline;
      }

      &:active {
        color: $Gray;
        border: none;
      }
    }
  }
}