@import "../mixins", "../vars", "../functions";


.button {
  @include font-family("bold");
  @include font-size(16px, 19px);
  @include flex-center-center;
  cursor: pointer;
  width: $InputWidthLg;
  height: $InputHeightMd;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 8px 26px 7px;

  @media (pointer: fine) {
    transition: linear 250ms;

    &:active:not(:disabled) {
      transition: linear 25ms;
    }
  }

  @media (max-width: $SizeDesktop - 1px) {
    width: calc-size-tablet-desktop($InputWidthMdN, $InputWidthLgN);
  }

  @media (max-width: $Breakpoint-830) {
    text-align: right;
    justify-content: flex-end;
  }

  @media (max-width: $SizeTablet - 1px) {
    width: calc-size-phone-tablet($InputWidthSmN, $InputWidthMdN);
  }

  @media (max-width: $SizePhone) {
    width: $InputWidthSm
  }


  &:disabled {
    color: $Gray;
    background: white;
    border: 1px solid $Gray;
  }


  &_blue {
    color: white;
    background: $Blue;

    @media (pointer: fine) {
      &:not(:disabled) {
        &:hover:not(:active) {
          @include box-shadow(rgba($Blue, 0.45), 15px, 4px);

          @media (max-width: $SizeDesktop - 1px) {
            @include box-shadow(rgba($Blue, 0.45), calc-size-tablet-desktop(8, 15), calc-size-tablet-desktop(2, 4));
          }

          @media (max-width: $SizeTablet) {
            @include box-shadow(rgba($Blue, 0.45), 8px, 2px);
          }
        }

        &:active {
          background: $LightBlue;
        }
      }
    }
  }


  &_orange {
    color: $DarkGray;
    background: $Orange;

    @media (pointer: fine) {
      &:not(:disabled) {
        &:hover:not(:active) {
          @include box-shadow(rgba($Orange, 0.55), 20px, 4px);

          @media (max-width: $SizeDesktop - 1px) {
            @include box-shadow(rgba($Orange, 0.55), calc-size-tablet-desktop(10, 20), calc-size-tablet-desktop(2, 4));
          }

          @media (max-width: $SizeTablet) {
            @include box-shadow(rgba($Orange, 0.55), 10px, 2px);
          }
        }

        &:active {
          background: $LightOrange;
        }
      }
    }
  }
}