@import "../mixins", "../vars";


.button {
  @include cursor;
  @include font-family("bold");
  @include font-size(16px, 19px);
  @include flex-center-center;
  transition: linear 250ms;
  width: $InputWidthLg;
  height: $InputHeightLg;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 9px 26px 8px;

  &:active:not(:disabled) {
    transition: linear 25ms;
  }

  &:disabled {
    color: $Gray;
    background: white;
    border: 1px solid $Gray;
  }

  @media (max-width: $SizeDesktop - 1px) {
    @include calc-width($InputWidthMdN, $InputWidthLgN, $SizeTabletN, $SizeDesktopN);
  }

  @media (max-width: $Breakpoint-830) {
    @include cursor("md");
    text-align: right;
    justify-content: flex-end;
  }

  @media (max-width: $SizeTablet - 1px) {
    @include cursor("sm");
    @include calc-width($InputWidthMdN - 2, $InputWidthMdN, $SizePhoneN, $SizeTabletN);
  }

  @media (max-width: $SizePhone - 1px) {
    width: #{$InputWidthMd - 2px};
  }


  &_blue {
    color: white;
    background: $Blue;

    @media (hover: hover) {
      &:hover:not(:active):not(:disabled) {
        @include box-shadow(rgba($Blue, 0.45), 15px, 4px);

        @media (max-width: $SizeDesktop - 1px) {
          @include box-shadow(rgba($Blue, 0.45),
                              calc(15px - (#{$SizeDesktop} - 100vw) * #{7 / ($SizeDesktopN - $SizeTabletN)}),
                              calc(4px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)}));
        }

        @media (max-width: $SizeTablet) {
          @include box-shadow(rgba($Blue, 0.45), 8px, 2px);
        }
      }

      &:active:not(:disabled) {
        background: $LightBlue;
      }
    }
  }


  &_orange {
    color: $DarkGray;
    background: $Orange;

    @media (hover: hover) {
      &:hover:not(:active):not(:disabled) {
        @include box-shadow(rgba($Orange, 0.55), 20px, 4px);

        @media (max-width: $SizeDesktop - 1px) {
          @include box-shadow(rgba($Orange, 0.55),
                              calc(20px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)}),
                              calc(4px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)}));
        }

        @media (max-width: $SizeTablet) {
          @include box-shadow(rgba($Orange, 0.55), 10px, 2px);
        }
      }

      &:active:not(:disabled) {
        background: $LightOrange;
      }
    }
  }
}