@import "../mixins", "../vars";


.button {
  transition: linear 250ms;
  cursor: pointer;
  width: $InputWidthLg;
  height: $InputHeightLg;
  font-family: "Myriad Pro Bold", serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 26px 8px;
  &:active:not(:disabled) {
    transition: linear 25ms;
  }
  &:disabled {
    color: #B3B3B3;
    background: none;
    border: 1px solid #B3B3B3;
  }

  @media (max-width: $SizeDesktop - 1px) {
    width: calc(#{$InputWidthLg} - (#{$SizeDesktop} - 100vw) * #{($InputWidthLgN - $InputWidthMdN) / ($SizeDesktopN - $SizeTabletN)});
  }

  @media (min-width: $SizeTablet) and (max-width: $Breakpoint-830) {
    text-align: right;
    justify-content: flex-end;
  }


  &_blue {
    color: white;
    background: $Blue;
    &:hover:not(:active):not(:disabled) {
      box-shadow: 0 4px 15px rgba($Blue, 0.45);
    }
    &:active:not(:disabled) {
      background: $LightBlue;
    }

    @media (max-width: $SizeDesktop - 1px) {
      &:hover:not(:active):not(:disabled) {
        box-shadow: 0 calc(4px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)})
        calc(20px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)})
        rgba($Blue, 0.45);
      }
    }

    @media (max-width: $SizeTablet) {
      &:hover:not(:active):not(:disabled) {
        box-shadow: 0 2px 10px rgba($Blue, 0.45);
      }
    }
  }


  &_orange {
    color: $DarkGray;
    background: $Orange;
    &:hover:not(:active):not(:disabled) {
      box-shadow: 0 4px 20px rgba($Orange, 0.55);
    }
    &:active:not(:disabled) {
      background: $LightOrange;
    }

    @media (max-width: $SizeDesktop - 1px) {
      &:hover:not(:active):not(:disabled) {
        box-shadow: 0 calc(4px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)})
        calc(20px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)})
        rgba($Orange, 0.55);
      }
    }

    @media (max-width: $SizeTablet) {
      &:hover:not(:active):not(:disabled) {
        box-shadow: 0 2px 10px rgba($Orange, 0.55);
      }
    }
  }
}