@import "../mixins", "../vars", "../functions";


.checkbox {
  @include font-size(10px, 12px);
  cursor: pointer;
  width: fit-content;
  display: flex;


  .checkbox__input {
    @include hide;


    &:checked + .checkbox__check {
      &:before {
        @include hide;
      }
      &:after {
        @include show;
      }
    }
  }


  .checkbox__check {
    @include font-awesome;
    @include font-size(13px, 13px);
    @include flex-vcenter;
    width: 16px;
    &:before {
      @include show;
      content:"\f096";
    }
    &:after {
      @include hide;
      content:"\f046";
    }

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(17, 16);
      &:before, &:after {
        margin-top: calc-size-tablet-desktop(-1, 0);
      }
    }

    @media (max-width: $SizeTablet) {
      width: 17px;
      &:before, &:after {
        margin-top: -1px;
      }
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size-phone-630px(18, 16);
    }

    @media (max-width: $SizePhone) {
      width: 18px;
    }
  }
}