@import "../mixins", "../vars", "../functions";


.container {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 $ContainerPaddingLg;
  margin: 0 auto;

  @media (max-width: $SizeDesktop - 1px) {
    @include padding-horizontal(calc-size-tablet-desktop($ContainerPaddingMdN, $ContainerPaddingLgN),
                                calc-size-with-scroll-tablet-desktop($ContainerPaddingMdN, $ContainerPaddingLgN, $ContainerPaddingSm));
  }

  @media (max-width: $SizeTablet - 1px) {
    @include padding-horizontal(calc-size-phone-tablet($ContainerPaddingSmN, $ContainerPaddingMdN),
                                calc-size-with-scroll-phone-tablet($ContainerPaddingSmN, $ContainerPaddingMdN, $ContainerPaddingSm));
  }

  @media (max-width: $SizePhone + calc(100vw - 100%)) {
    padding: 0 $ContainerPaddingSm;
  }
}