@import "../mixins", "../vars";


.container {
  max-width: $WidthDesktopBG;
  min-width: 320px;
  padding: 0 calc(#{$ContainerPaddingLg} + 100% - 100vw) 0 $ContainerPaddingLg;
  margin: 0 auto;

  @media (max-width: $SizeDesktop - 1px) {
    padding: 0 calc(#{$ContainerPaddingLg} + 100% - 100vw - (#{$SizeDesktop} - 100vw) * #{($ContainerPaddingLgN - $ContainerPaddingMdN) / ($SizeDesktopN - $SizeTabletN)})
             0 calc(#{$ContainerPaddingLg} - (#{$SizeDesktop} - 100vw) * #{($ContainerPaddingLgN - $ContainerPaddingMdN) / ($SizeDesktopN - $SizeTabletN)});
  }

  @media (max-width: $SizeTablet - 1px) {
    padding: 0 max(#{$ContainerPaddingSm}, calc(#{$ContainerPaddingMd} + 100% - 100vw - (#{$SizeTablet} - 100vw) * #{($ContainerPaddingMdN - $ContainerPaddingSmN) / ($SizeTabletN - $SizePhoneN)}))
             0 calc(#{$ContainerPaddingMd} - (#{$SizeTablet} - 100vw) * #{($ContainerPaddingMdN - $ContainerPaddingSmN) / ($SizeTabletN - $SizePhoneN)});
  }

  @media (max-width: $SizePhone + calc(100vw - 100%)) {
    padding: 0 $ContainerPaddingSm;
  }
}