@import "../mixins", "../vars";


.container {
  max-width: $WidthDesktopBG;
  min-width: 320px;
  padding: 0 140px;
  margin: 0 auto;

  @media (max-width: $SizeDesktop - 1px) {
    padding: 0 calc(#{$ContainerPaddingLg} - (#{$SizeDesktop} - 100vw) * #{($ContainerPaddingLgN - $ContainerPaddingMdN) / ($SizeDesktopN - $SizeTabletN)});
  }

  @media (max-width: $SizeTablet - 1px) {
    padding: 0 calc(#{$ContainerPaddingMd} - (#{$SizeTablet} - 100vw) * #{($ContainerPaddingMdN - $ContainerPaddingSmN) / ($SizeTabletN - $SizePhoneN)});
  }

  @media (max-width: $SizePhone) {
    padding: 0 $ContainerPaddingSm;
  }
}