@import "../mixins", "../vars", "../functions";


.input {
  @include P;
  width: $InputWidthLg;
  height: $InputHeightMd;
  color: white;
  border: 1px solid white;
  border-radius: $InputHeightMd * 0.625;
  padding: 8px 20px 7px;
  &::placeholder {
    color: white;
  }

  @media (max-width: $Breakpoint-1220) {
    width: calc-size-tablet-desktop($InputWidthMdN, $InputWidthLgN);
    padding: 8px calc-size(16, 20, $SizeTabletN, $Breakpoint-1220N) 7px;
  }

  @media (max-width: $SizeTablet) {
    padding: 8px 16px 7px;
  }

  @media (max-width: $Breakpoint-630) {
    padding: 8px calc-size-phone-630px(23, 20) 7px;
  }

  @media (max-width: $SizePhone) {
    padding: 8px 23px 7px;
  }
}