@import "../mixins", "../vars";


.input {
  @include P;
  width: $InputWidthLg;
  height: $InputHeightLg;
  color: white;
  border: 1px solid white;
  border-radius: $InputHeightLg / 8 * 5;
  padding: 1px 20px 0;
  &::placeholder {
    color: white;
  }

  @media (max-width: $Breakpoint-1220) {
    @include calc-padding-horizontal(16, 20, $SizeTabletN, $Breakpoint-1220N, 1px, 0);
  }

  @media (max-width: $SizeTablet) {
    padding: 1px 16px 0;
  }

  @media (max-width: $Breakpoint-630) {
    @include calc-padding-horizontal(17, 20, $SizePhoneN, $Breakpoint-630N, 0, 1px, true);
  }

  @media (max-width: $SizePhone) {
    padding: 0 23px 1px;
  }
}