@import "../mixins", "../vars";


.input {
  @include P;
  width: $InputWidthLg;
  height: $InputHeightLg;
  color: white;
  border: 1px solid white;
  border-radius: $InputHeightLg / 8 * 5;
  padding: 1px 20px 0;
  &::placeholder {
    color: white;
  }

  @media (max-width: $Breakpoint-1220) {
    padding: 1px calc(20px - (#{$Breakpoint-1220} - 100vw) * #{4 / ($Breakpoint-1220N - $SizeTabletN)}) 0;
  }

  @media (max-width: $SizeTablet) {
    padding: 1px 16px 0;
  }

  @media (max-width: $Breakpoint-630) {
    padding: 0 calc(20px + (#{$Breakpoint-630} - 100vw) * #{3 / ($Breakpoint-630N - $SizePhoneN)}) 1px;
  }

  @media (max-width: $SizePhone) {
    padding: 0 23px 1px;
  }
}