@import "../mixins", "../vars";


.slick {
  &-arrow {
    cursor: pointer;
    overflow: hidden;
    width: 22px;
    height: 22px;
    color: transparent;
    border-bottom: 2px solid $LightGray;
    border-left: 2px solid $LightGray;
    position: absolute;

    @media (pointer: fine) {
      &:hover, &:active, &:focus {
        border-color: $Blue;
      }
    }

    @media (max-width: $SizeDesktop - 1px) {
      @include calc-width(14, 22, $SizeTabletN, $SizeDesktopN);
      @include calc-height(14, 22, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $Breakpoint-730) {
      @include calc-width(14, 22, $SizePhoneN, $Breakpoint-730N);
      @include calc-height(14, 22, $SizePhoneN, $Breakpoint-730N);
    }

    @media (max-width: $SizeTablet), (max-width: $SizePhone) {
      width: 14px;
      height: 14px;
    }
  }


  &-prev {
    transform: rotate(45deg);
  }


  &-next {
    transform: rotate(-135deg);
  }
}