@import "../vars", "../mixins", "../functions";


.advantage {
  background: $VeryLightSilver;


  &__container {
    @include padding-vertical(95px, 48px);
    min-height: 496px;

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size-tablet-desktop(31, 95), calc-size-tablet-desktop(32, 48));
      min-height: calc-size-tablet-desktop(314, 496);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(calc-size-phone-tablet(18, 38), calc-size-phone-tablet(16, 32));
      min-height: calc-size-phone-tablet(403, 314);
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(18px, 16px);
      min-height: 403px;
    }
  }


  &__title {
    @media (max-width: $SizeDesktop - 1px) {
      margin-left: calc-size-tablet-desktop(1, 0);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(28, 36), calc-size-phone-tablet(34, 43));
      margin-left: calc-size-phone-tablet(-2, 1);
    }

    @media (max-width: $SizePhone) {
      @include font-size(28px, 34px);
      margin-left: -2px;
    }
  }


  &__content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    margin-top: 31px;

    @media (max-width: $SizeDesktop - 1px) {
      grid-gap: calc-size-tablet-desktop(20, 40);
    }

    @media (max-width: $SizeTablet - 1px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: calc-size-phone-tablet(24, 40) calc-size-phone-tablet(10, 20);
      margin-top: calc-size-phone-tablet(18, 31);
    }

    @media (max-width: $SizePhone) {
      grid-gap: 24px 10px;
      margin-top: 18px;
    }
  }


  &__item {
    width: 160px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(100, 160);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-phone-tablet(86, 160);
    }

    @media (max-width: $SizePhone) {
      width: 86px;
    }
  }


  &__icon {
    @include flex-center-center;
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 50%;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(100, 160);
      height: calc-size-tablet-desktop(100, 160);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-phone-tablet(86, 160);
      height: calc-size-phone-tablet(86, 160);
    }

    @media (max-width: $SizePhone) {
      width: 86px;
      height: 86px;
    }


    &_free {
      width: 84px;
      margin: 3px 0 0 5px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(56, 84);
        margin: calc-size-tablet-desktop(2, 3) 0 calc-size-tablet-desktop(2, 0) calc-size-tablet-desktop(4, 5);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size-phone-tablet(48, 84);
        margin: calc-size-phone-tablet(2, 3) 0 0 calc-size-phone-tablet(4, 5);
      }

      @media (max-width: $SizePhone) {
        width: 48px;
        margin: 2px 0 0 4px;
      }
    }


    &_checklist {
      width: 62px;
      margin-left: 6px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(40, 62);
        margin: 0 0 calc-size-tablet-desktop(1, 0) calc-size-tablet-desktop(4, 6);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size-phone-tablet(35, 62);
        margin: 0 0 0 calc-size-phone-tablet(2, 6);
      }

      @media (max-width: $SizePhone) {
        width: 35px;
        margin-left: 2px;
      }
    }


    &_reward {
      width: 66px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(42, 66);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size-phone-tablet(36, 66);
      }

      @media (max-width: $SizePhone) {
        width: 36px;
      }
    }


    &_hand {
      width: 68px;
      margin-top: 3px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(43, 68);
        margin-top: calc-size-tablet-desktop(1, 3);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size-phone-tablet(37, 68);
        margin-top: calc-size-phone-tablet(2, 3);
      }

      @media (max-width: $SizePhone) {
        width: 37px;
        margin-top: 2px;
      }
    }


    &_support {
      width: 68px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(44, 68);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size-phone-tablet(38, 68);
      }

      @media (max-width: $SizePhone) {
        width: 38px;
      }
    }


    &_scan {
      width: 74px;
      margin: 12px 0 0 8px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(47, 74);
        margin: calc-size-tablet-desktop(6, 12) 0 0 calc-size-tablet-desktop(4, 8);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size-phone-tablet(40, 74);
        margin: calc-size-phone-tablet(6, 12) 0 0 calc-size-phone-tablet(4, 8);
      }

      @media (max-width: $SizePhone) {
        width: 40px;
        margin: 6px 0 0 4px;
      }
    }
  }


  &__caption {
    @include font-family("regular");
    @include font-size(18px, 22px);
    @include flex-hcenter;
    text-align: center;
    margin-top: 31px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(12, 18), calc-size-tablet-desktop(14, 22));
      margin-top: calc-size-tablet-desktop(14, 31);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(10, 18), calc-size-phone-tablet(12, 22));
      margin-top: calc-size-phone-tablet(8, 13);
    }

    @media (max-width: $SizePhone) {
      @include font-size(10px, 12px);
      margin-top: 8px;
    }
  }
}