@import "../vars", "../mixins", "../functions";


.callback {
  background: $Blue;


  &__container {
    @include flex-hbetween;
    @include padding-vertical(64px, 36px);
    min-height: 240px;

    @media (max-width: $SizeDesktop - 1px) {
      padding-top: calc-size-tablet-desktop(26, 64);
    }

    @media (max-width: $Breakpoint-1220 - 1px) {
      min-height: calc-size(171, 240, $SizeTabletN, $Breakpoint-1220N);
      padding-bottom: calc-size(12, 36, $SizeTabletN, $Breakpoint-1220N);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(26px, 12px);
      min-height: 171px;
    }

    @media (max-width: $Breakpoint-630) {
      @include padding-vertical(calc-size-phone-630px(27, 36), calc-size-phone-630px(6, 12));
      min-height: calc-size-phone-630px(59, 171);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(27px, 6px);
      min-height: 283px;
    }
  }


  &__caption {
    width: 760px;
    padding-top: 1px;

    @media (max-width: $Breakpoint-1220) {
      width: calc-size(280, 360, $SizeTabletN, $Breakpoint-1220N);
    }

    @media (max-width: $Breakpoint-630) {
      width: 100%;
      padding-top: 0;
    }

    @media (max-width: 480px) {
      width: calc-size-phone-630px($InputWidthMdN, $InputWidthLgN);
    }

    @media (max-width: $SizePhone) {
      width: $InputWidthMd;
    }
  }


  &__title {
    color: white;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(28, 48), calc-size-tablet-desktop(34, 58));
    }

    @media (max-width: $SizeTablet) {
      @include font-size(28px, 34px);
    }
  }


  &__text {
    @include font-family("semibold");
    @include font-size(24px, 23px);
    color: white;
    margin-top: 12px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(14, 24), calc-size-tablet-desktop(13, 23));
      margin-top: calc-size-tablet-desktop(15, 17);
    }

    @media (max-width: $SizeTablet) {
      @include font-size(14px, 13px);
      margin-top: 15px;
    }

    @media (max-width: $Breakpoint-630) {
      @include font-size(calc-size-phone-630px(14, 20), calc-size-phone-630px(13, 19));
    }

    @media (max-width: $SizePhone) {
      @include font-size(14px, 13px);
    }
  }


  &__form {
    width: $InputWidthLg;
    margin: 4px 0 0 40px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop($InputWidthMdN, $InputWidthLgN);
      margin: calc-size-tablet-desktop(5, 4) 0 0 40px;
    }

    @media (max-width: $SizeTablet - 1px) {
      width: $InputWidthMd;
      margin: 5px 0 0 calc-size-630px-tablet(32, 40);
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size-phone-630px($InputWidthMdN, $InputWidthLgN);
      margin: calc-size-phone-630px(16, 20) 0 0;
    }

    @media (max-width: $SizePhone) {
      width: $InputWidthMd;
      margin-top: 16px;
    }
  }


  &__phone, &__button {
    width: 100%;
  }


  &__button {
    margin-top: 9px;

    @media (max-width: $SizeDesktop - 1px) {
      padding: 9px calc-size-tablet-desktop(40, 26) 8px;
    }

    @media (max-width: $SizeTablet) {
      padding: 9px 40px 8px;
    }

    @media (max-width: $SizePhone) {
      width: $InputWidthMd;
    }
  }


  &__consent {
    color: white;
    margin-top: 15px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(8, 15);
    }

    @media (max-width: $SizeTablet) {
      margin-top: 8px;
    }

    @media (max-width: $Breakpoint-630) {
      margin: 6px 0 0 8px;
    }
  }
}