@import "../vars", "../mixins";


.callback {
  background: $Blue;


  &__container {
    min-height: 240px;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 36px;

    @media (max-width: $SizeDesktop - 1px) {
      min-height: calc(240px - (#{$Breakpoint-1220} - 100vw) * #{69 / ($Breakpoint-1220N - $SizeTabletN)});
      padding-top: calc(64px - (#{$SizeDesktop} - 100vw) * #{38 / ($SizeDesktopN - $SizeTabletN)});
      padding-bottom: calc(36px - (#{$SizeDesktop} - 100vw) * #{24 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      min-height: 283px;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 6px;
    }
  }


  &__caption {
    width: 760px;
    padding-top: 1px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(760px - (#{$SizeDesktop} - 100vw) * #{460 / ($SizeDesktopN - $SizeTabletN)});
      font-size: calc(48px - (#{$SizeDesktop} - 100vw) * #{20 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(58px - (#{$SizeDesktop} - 100vw) * #{24 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      width: calc(#{$InputWidthLg} - (#{$Breakpoint-630} - 100vw) * #{($InputWidthLgN - $InputWidthMdN) / ($Breakpoint-630N - $SizePhoneN)});
      margin: 0 auto;
    }

    @media (max-width: $SizePhone) {
      width: $InputWidthMd;
    }
  }


  &__title {
    color: white;

    @media (max-width: $SizeDesktop - 1px) {
      font-size: calc(48px - (#{$SizeDesktop} - 100vw) * #{20 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(58px - (#{$SizeDesktop} - 100vw) * #{24 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet) {
      font-size: 28px;
      line-height: 34px;
    }
  }


  &__text {
    font-family: "Myriad Pro Semibold", serif;
    color: white;
    font-size: 24px;
    line-height: 23px;
    margin-top: 12px;

    @media (max-width: $SizeDesktop - 1px) {
      font-size: calc(24px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(23px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)});
      margin-top: calc(17px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet) {
      font-size: 14px;
      line-height: 13.4px;
      margin-top: 15px;
    }
  }


  &__form {
    width: $InputWidthLg;
    padding-top: 4px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(#{$InputWidthLg} - (#{$SizeDesktop} - 100vw) * #{($InputWidthLgN - $InputWidthMdN) / ($SizeDesktopN - $SizeTabletN)});
      padding-top: calc(4px + (#{$SizeDesktop} - 100vw) * #{1 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      width: calc(#{$InputWidthLg} - (#{$Breakpoint-630} - 100vw) * #{($InputWidthLgN - $InputWidthMdN) / ($Breakpoint-630N - $SizePhoneN)});
      margin: 11px auto 0;
    }

    @media (max-width: $SizePhone) {
      width: $InputWidthMd;
    }
  }


  &__phone {
    width: inherit;
  }


  &__button {
    width: inherit;
    margin-top: 9px;

    @media (max-width: $SizeDesktop - 1px) {
      padding: 9px calc(26px + (#{$Breakpoint-1220} - 100vw) * #{14 / ($Breakpoint-1220N - $SizeTabletN)}) 8px;
    }
  }


  &__consent {
    margin-top: 15px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc(15px - (#{$Breakpoint-1220} - 100vw) * #{7 / ($Breakpoint-1220N - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      margin: 6px 0 0 8px;
    }

    @media (max-width: $SizePhone) {
      margin: 6px 0 0 8px;
    }
  }
}