@import "../vars", "../mixins", "../functions";


.description {
  background: $VeryLightSilver;


  &__container {
    @include flex-hbetween;
    min-height: 457px;
    padding: 62px #{$ContainerPaddingLg - 28px} 48px #{$ContainerPaddingLg - 29px};
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      min-height: calc-size-tablet-desktop(314, 457);
      padding: calc-size-tablet-desktop(19, 62)
               calc-size-with-scroll-tablet-desktop($ContainerPaddingMdN, $ContainerPaddingLgN - 28)
               calc-size-tablet-desktop(32, 48)
               calc-size-tablet-desktop($ContainerPaddingMdN, $ContainerPaddingLgN - 29);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include flex-column-center;
      min-height: 371px;
      padding: calc-size-phone-tablet(17, 31)
               calc-size-with-scroll-phone-tablet($ContainerPaddingSmN, $ContainerPaddingMdN)
               calc-size-phone-tablet(16, 32) calc-size-phone-tablet($ContainerPaddingSmN, $ContainerPaddingMdN);
    }

    @media (max-width: $SizePhone) {
      padding: 17px $ContainerPaddingSm 16px;
    }
  }


  &__banner {
    @include background-image("cloud.png");
    width: 660px;
    height: 267px;
    background-size: contain;
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(398, 660);
      height: calc-size-tablet-desktop(162, 267);
    }

    @media (min-width: $SizeTablet) and (max-width: $SizeDesktop - 1px) {
      @include position-top-bottom-right(0, 6px, calc-size-with-scroll-tablet-desktop($ContainerPaddingMdN, $ContainerPaddingLgN - 29));
      position: absolute;
      margin: auto;
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-phone-tablet(278, 660);
      height: calc-size-phone-tablet(113, 267);
    }

    @media (max-width: $SizePhone) {
      width: 278px;
      height: 113px;
    }
  }


  &__icon {
    position: absolute;


    &_bringo {
      @include delivery("bringo");
      @include position-top-left(50px, 139px);
      width: 82px;
      height: 53px;
      background-size: 82px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-left(calc-size-tablet-desktop(31, 50), calc-size-tablet-desktop(83, 139));
        width: calc-size-tablet-desktop(49, 82);
        height: calc-size-tablet-desktop(31, 53);
        background-size: calc-size-tablet-desktop(49, 82) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-left(calc-size-phone-tablet(21, 50), calc-size-phone-tablet(58, 139));
        width: calc-size-phone-tablet(35, 82);
        height: calc-size-phone-tablet(22, 53);
        background-size: calc-size-phone-tablet(35, 82) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-left(21px, 58px);
        width: 35px;
        height: 22px;
        background-size: 35px auto;
      }
    }


    &_cdek {
      @include delivery("cdek");
      @include position-top-left(126px, 131px);
      width: 88px;
      height: 57px;
      background-size: 88px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-left(calc-size-tablet-desktop(77, 126), calc-size-tablet-desktop(79, 131));
        width: calc-size-tablet-desktop(53, 88);
        height: calc-size-tablet-desktop(34, 57);
        background-size: calc-size-tablet-desktop(53, 88) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-left(calc-size-phone-tablet(53, 126), calc-size-phone-tablet(55, 131));
        width: calc-size-phone-tablet(37, 88);
        height: calc-size-phone-tablet(24, 57);
        background-size: calc-size-phone-tablet(37, 88) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-left(53px, 55px);
        width: 37px;
        height: 24px;
        background-size: 37px auto;
      }
    }


    &_city-express {
      @include delivery("city-express");
      @include position-top-right(79px, 31px);
      width: 88px;
      height: 57px;
      background-size: 88px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-right(calc-size-tablet-desktop(48, 79), calc-size-tablet-desktop(18, 31));
        width: calc-size-tablet-desktop(53, 88);
        height: calc-size-tablet-desktop(34, 57);
        background-size: calc-size-tablet-desktop(53, 88) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-right(calc-size-phone-tablet(33, 79), calc-size-phone-tablet(13, 31));
        width: calc-size-phone-tablet(37, 88);
        height: calc-size-phone-tablet(24, 57);
        background-size: calc-size-phone-tablet(37, 88) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-right(33px, 13px);
        width: 37px;
        height: 24px;
        background-size: 37px auto;
      }
    }


    &_dpd {
      @include delivery("dpd");
      @include position-top-left(84px, 14px);
      width: 107px;
      height: 68px;
      background-size: 107px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-left(calc-size-tablet-desktop(51, 84), calc-size-tablet-desktop(8, 14));
        width: calc-size-tablet-desktop(65, 107);
        height: calc-size-tablet-desktop(41, 68);
        background-size: calc-size-tablet-desktop(65, 107) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-left(calc-size-phone-tablet(35, 84), calc-size-phone-tablet(6, 14));
        width: calc-size-phone-tablet(45, 107);
        height: calc-size-phone-tablet(29, 68);
        background-size: calc-size-phone-tablet(45, 107) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-left(35px, 6px);
        width: 45px;
        height: 29px;
        background-size: 45px auto;
      }
    }


    &_pony-express {
      @include delivery("pony-express");
      @include position-top-left(168px, 34px);
      width: 110px;
      height: 72px;
      background-size: 110px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-left(calc-size-tablet-desktop(102, 168), calc-size-tablet-desktop(21, 34));
        width: calc-size-tablet-desktop(66, 110);
        height: calc-size-tablet-desktop(43, 72);
        background-size: calc-size-tablet-desktop(66, 110) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-left(calc-size-phone-tablet(71, 168), calc-size-phone-tablet(14, 34));
        width: calc-size-phone-tablet(47, 110);
        height: calc-size-phone-tablet(30, 72);
        background-size: calc-size-phone-tablet(47, 110) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-left(71px, 14px);
        width: 47px;
        height: 30px;
        background-size: 47px auto;
      }
    }


    &_spsr {
      @include delivery("spsr");
      @include position-top-right(171px, 36px);
      width: 88px;
      height: 56px;
      background-size: 88px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-right(calc-size-tablet-desktop(103, 171), calc-size-tablet-desktop(21, 36));
        width: calc-size-tablet-desktop(53, 88);
        height: calc-size-tablet-desktop(34, 56);
        background-size: calc-size-tablet-desktop(53, 88) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-right(calc-size-phone-tablet(72, 171), calc-size-phone-tablet(15, 36));
        width: calc-size-phone-tablet(37, 88);
        height: calc-size-phone-tablet(24, 56);
        background-size: calc-size-phone-tablet(37, 88) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-right(72px, 15px);
        width: 37px;
        height: 24px;
        background-size: 37px auto;
      }
    }


    &_tnt {
      @include delivery("tnt");
      @include position-top-right(34px, 166px);
      width: 82px;
      height: 52px;
      background-size: 82px auto;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-right(calc-size-tablet-desktop(21, 34), calc-size-tablet-desktop(100, 166));
        width: calc-size-tablet-desktop(49, 82);
        height: calc-size-tablet-desktop(31, 52);
        background-size: calc-size-tablet-desktop(49, 82) auto;
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-right(calc-size-phone-tablet(14, 34), calc-size-phone-tablet(70, 166));
        width: calc-size-phone-tablet(35, 82);
        height: calc-size-phone-tablet(22, 52);
        background-size: calc-size-phone-tablet(35, 82) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-right(14px, 70px);
        width: 35px;
        height: 22px;
        background-size: 35px auto;
      }
    }


    &_ups {
      @include delivery("ups");
      @include position-top-right(125px, 137px);
      width: 70px;
      height: 46px;
      background-size: 70px 46px;

      @media (max-width: $SizeDesktop - 1px) {
        @include position-top-right(calc-size-tablet-desktop(74, 125), calc-size-tablet-desktop(82, 137));
        width: calc-size-tablet-desktop(42, 70);
        height: calc-size-tablet-desktop(27, 46);
        background-size: calc-size-tablet-desktop(42, 70) calc-size-tablet-desktop(27, 46);
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-right(calc-size-phone-tablet(52, 125), calc-size-phone-tablet(58, 137));
        width: calc-size-phone-tablet(29, 70);
        height: calc-size-phone-tablet(19, 46);
        background-size: calc-size-phone-tablet(29, 70) auto;
      }

      @media (max-width: $SizePhone) {
        @include position-top-right(52px, 58px);
        width: 29px;
        height: 19px;
        background-size: 29px auto;
      }
    }
  }


  &__boxman {
    @include position-top-left(70px, 240px);
    width: 200px;
    height: 266px;
    position: absolute;

    @media (max-width: $SizeDesktop - 1px) {
      @include position-top-left(calc-size-tablet-desktop(43, 70), calc-size-tablet-desktop(145, 240));
      width: calc-size-tablet-desktop(121, 200);
      height: calc-size-tablet-desktop(160, 266);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include position-top-left(calc-size-phone-tablet(29, 70), calc-size-phone-tablet(101, 240));
      width: calc-size-phone-tablet(84, 200);
      height: calc-size-phone-tablet(112, 266);
    }

    @media (max-width: $SizePhone) {
      @include position-top-left(29px, 101px);
      width: 84px;
      height: 112px;
    }
  }


  &__about {
    width: 460px;
    padding: 22px 18px 12px 0;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(220, 460, true);
      padding: calc-size-tablet-desktop(0, 22) 0 0;
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-phone-tablet(278, 660);
      padding: 0;
      margin-top: calc-size-phone-tablet(52, 88);
    }

    @media (max-width: $SizePhone) {
      width: 278px;
      margin-top: 52px;
    }
  }


  &__title {
    text-transform: none;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(550, 460);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(18, 36), calc-size-phone-tablet(22, 43));
      width: 100%;
    }

    @media (max-width: $SizePhone) {
      @include font-size(18px, 22px);
    }
  }


  &__text {
    margin-top: 26px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(14, 16), calc-size-tablet-desktop(17, 19));
      width: calc-size-tablet-desktop(280, 460);
      margin-top: calc-size-tablet-desktop(20, 26);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(12, 16), calc-size-phone-tablet(14, 19));
      width: 100%;
      margin-top: calc-size-phone-tablet(10, 26);
    }

    @media (max-width: $SizePhone) {
      @include font-size(12px, 14px);
      margin-top: 10px;
    }
  }


  &__button {
    margin-top: 33px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(31, 33);
    }

    @media (max-width: $SizeTablet - 1px) {
      margin-top: calc-size-phone-tablet(22, 28);
    }

    @media (max-width: $SizePhone) {
      margin-top: 22px;
    }
  }
}