@import "../vars", "../mixins", "../functions";


.faq {
  background: $Lavender;


  &__container {
    @include padding-vertical(58px, 60px);

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size(35, 58, $SizeTabletN, $SizeDesktopN),
                                calc-size(42, 60, $SizeTabletN, $SizeDesktopN));
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(calc-size(21, 35, $SizePhoneN, $SizeTabletN),
                                calc-size(25, 42, $SizePhoneN, $SizeTabletN));
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(21px, 25px);
    }
  }


  &__title {
    @media (max-width: $SizeDesktop - 1px) {
      margin-left: calc-size(1, 0, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      font-size: calc-size(28, 36, $SizePhoneN, $SizeTabletN);
      line-height: calc-size(34, 43, $SizePhoneN, $SizeTabletN);
      margin-left: 1px;
    }

    @media (max-width: $SizePhone) {
      font-size: 28px;
      line-height: 34px;
    }
  }


  &__content {
    display: flex;
    margin-top: 31px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size(19, 31, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $Breakpoint-830) {
      flex-direction: column;
    }

    @media (max-width: $SizeTablet - 1px) {
      margin-top: calc-size(16, 19, $SizePhoneN, $SizeTabletN);
    }

    @media (max-width: $SizePhone) {
      margin-top: 16px;
    }
  }


  &__column {
    @include flex-column;
    width: 100%;
    max-width: 558px;

    @media (max-width: $Breakpoint-830) {
      max-width: 100%;
    }

    &:not(:first-of-type) {
      margin-left: 29px;

      @media (max-width: $SizeDesktop - 1px) {
        margin-left: calc-size(15, 29, $Breakpoint-830N, $SizeDesktopN);
      }

      @media (max-width: $Breakpoint-830) {
        margin: 10px 0 0;
      }
    }
  }


  &__item {
    transition: linear 250ms;
    overflow: hidden;
    width: 100%;
    border-radius: 32px;
    margin-top: 16px;

    @media (max-width: $SizeDesktop - 1px) {
      border-radius: calc-size(24, 32, $SizeTabletN, $SizeDesktopN);
      margin-top: calc-size(10, 16, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      border-radius: calc-size(32, 24, $SizePhoneN, $SizeTabletN);
      margin-top: 10px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    @media (pointer: fine) {
      &:not([open]) {
        &:not(:active):hover {
          @include box-shadow($LightAquamarine, 20px, 4px);

          @media (max-width: $SizeDesktop - 1px) {
            @include box-shadow($LightAquamarine, calc-size(10, 20, $SizeTabletN, $SizeDesktopN),
                                calc-size(2, 4, $SizeTabletN, $SizeDesktopN));
          }

          @media (max-width: $SizeTablet) {
            @include box-shadow($LightAquamarine, 10px, 2px);
          }
        }

        &:active {
          transition: linear 25ms;
          box-shadow:  none;
        }
      }
    }
  }


  &__question {
    @include flex-vcenter;
    cursor: pointer;
    width: 100%;
    min-height: 64px;
    background: white;
    padding: 4px 60px 6px 30px;
    position: relative;

    @media (max-width: $Breakpoint-830) {
      min-height: calc-size(48, 64, $SizeTabletN, $Breakpoint-830N);
      padding: 4px calc-size(61, 60, $SizeTabletN, $Breakpoint-830N)
               6px calc-size(31, 30, $SizeTabletN, $Breakpoint-830N);
    }

    @media (max-width: $SizeTablet - 1px) {
      min-height: calc-size(80, 48, $SizePhoneN, $SizeTabletN);
      font-size: calc-size(14, 16, $SizePhoneN, $SizeTabletN);
      line-height: calc-size(17, 19, $SizePhoneN, $SizeTabletN);
      padding: calc-size(6, 4, $SizePhoneN, $SizeTabletN) calc-size(48, 61, $SizePhoneN, $SizeTabletN)
               calc-size(8, 5, $SizePhoneN, $SizeTabletN) calc-size(24, 31, $SizePhoneN, $SizeTabletN);
    }

    @media (max-width: $SizePhone) {
      min-height: 80px;
      font-size: 14px;
      line-height: 17px;
      padding: 6px 48px 8px 24px;
    }

    &:before {
      content: "";
      transform: rotate(-45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $Blue;
      border-left: 2px solid $Blue;
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 9px;
      right: 31px;

      @media (max-width: $SizeDesktop - 1px) {
        right: calc-size(33, 31, $SizeTabletN, $SizeDesktopN);
      }

      @media (max-width: $SizeTablet - 1px) {
        width: calc-size(8, 10, $SizePhoneN, $SizeTabletN);
        height: calc-size(8, 10, $SizePhoneN, $SizeTabletN);
        top: calc-size(2, 0, $SizePhoneN, $SizeTabletN);
        right: calc-size(25, 33, $SizePhoneN, $SizeTabletN);
      }

      @media (max-width: $SizePhone) {
        width: 8px;
        height: 8px;
        top: 2px;
        right: 25px;
      }
    }

    .faq__item[open] > &:before {
      transform: rotate(135deg);
      top: 9px;
      bottom: 0;

      @media (max-width: $SizeTablet - 1px) {
        bottom: calc-size(2, 0, $SizePhoneN, $SizeTabletN);
      }

      @media (max-width: $SizePhone) {
        bottom: 2px;
      }
    }
  }


  &__answer {
    background: $VeryLightSilver;
    padding: 15px 30px 30px;

    @media (max-width: $Breakpoint-830) {
      padding: calc-size(10, 15, $SizeTabletN, $Breakpoint-830N) calc-size(31, 30, $SizeTabletN, $Breakpoint-830N)
               calc-size(20, 30, $SizeTabletN, $Breakpoint-830N);
    }

    @media (max-width: $SizeTablet - 1px) {
      font-size: calc-size(14, 16, $SizePhoneN, $SizeTabletN);
      line-height: calc-size(17, 19, $SizePhoneN, $SizeTabletN);
      padding: 10px 24px 20px;
    }

    @media (max-width: $SizePhone) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}