@import "../vars", "../mixins", "../functions";


.faq {
  background: $Lavender;


  &__container {
    @include padding-vertical(58px, 60px);

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size-tablet-desktop(35, 58), calc-size-tablet-desktop(42, 60));
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(calc-size-phone-tablet(21, 44), calc-size-phone-tablet(25, 48));
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(21px, 25px);
    }
  }


  &__title {
    @media (max-width: $SizeDesktop - 1px) {
      margin-left: calc-size-tablet-desktop(1, 0);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(28, 36), calc-size-phone-tablet(34, 43));
      margin-left: 1px;
    }

    @media (max-width: $SizePhone) {
      @include font-size(28px, 34px);
    }
  }


  &__content {
    display: flex;
    margin-top: 31px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(19, 31);
    }

    @media (max-width: $Breakpoint-830) {
      flex-direction: column;
    }

    @media (max-width: $SizeTablet - 1px) {
      margin-top: calc-size-phone-tablet(16, 19);
    }

    @media (max-width: $SizePhone) {
      margin-top: 16px;
    }
  }


  &__column {
    @include flex-column;
    width: 100%;
    max-width: 558px;

    @media (max-width: $Breakpoint-830) {
      max-width: 100%;
    }

    &:not(:first-of-type) {
      margin-left: 29px;

      @media (max-width: $SizeDesktop - 1px) {
        margin-left: calc-size(15, 29, $Breakpoint-830N, $SizeDesktopN);
      }

      @media (max-width: $Breakpoint-830) {
        margin: 10px 0 0;
      }
    }
  }


  &__item {
    @include transition(box-shadow);
    overflow: hidden;
    width: 100%;
    border-radius: 32px;
    margin-top: 16px;

    @media (max-width: $SizeDesktop - 1px) {
      border-radius: calc-size-tablet-desktop(24, 32);
      margin-top: calc-size-tablet-desktop(10, 16);
    }

    @media (max-width: $SizeTablet - 1px) {
      border-radius: calc-size-phone-tablet(32, 24);
      margin-top: 10px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:not([open]) {
      @media (pointer: fine) {
        &:not(:active):hover {
          @include box-shadow($LightAquamarine, 20px, 4px);

          @media (max-width: $SizeDesktop - 1px) {
            @include box-shadow($LightAquamarine, calc-size-tablet-desktop(10, 20), calc-size-tablet-desktop(2, 4));
          }

          @media (max-width: $SizeTablet) {
            @include box-shadow($LightAquamarine, 10px, 2px);
          }
        }

        &:active {
          @include transition(box-shadow, $TransitionActive);
          box-shadow:  none;
        }
      }
    }
  }


  &__question {
    @include flex-vcenter;
    cursor: pointer;
    width: 100%;
    min-height: 64px;
    background: white;
    padding: 4px 60px 6px 30px;
    position: relative;

    @media (max-width: $Breakpoint-830) {
      min-height: calc-size(48, 64, $SizeTabletN, $Breakpoint-830N);
      padding: 4px calc-size(61, 60, $SizeTabletN, $Breakpoint-830N) 6px calc-size(31, 30, $SizeTabletN, $Breakpoint-830N);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(14, 16), calc-size-phone-tablet(17, 19));
      min-height: calc-size-phone-tablet(80, 48);
      padding: calc-size-phone-tablet(6, 4) calc-size-phone-tablet(48, 61) calc-size-phone-tablet(8, 5)
               calc-size-phone-tablet(24, 31);
    }

    @media (max-width: $SizePhone) {
      @include font-size(14px, 17px);
      min-height: 80px;
      padding: 6px 48px 8px 24px;
    }

    &:before {
      @include position-top-right-bottom(0, 31px, 9px);
      content: "";
      transform: rotate(-45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $Blue;
      border-left: 2px solid $Blue;
      display: block;
      position: absolute;
      margin: auto;

      @media (max-width: $SizeDesktop - 1px) {
        right: calc-size-tablet-desktop(33, 31);
      }

      @media (max-width: $SizeTablet - 1px) {
        @include position-top-right(calc-size-phone-tablet(2, 0), calc-size-phone-tablet(25, 33));
        width: calc-size-phone-tablet(8, 10);
        height: calc-size-phone-tablet(8, 10);
      }

      @media (max-width: $SizePhone) {
        @include position-top-right(2px, 25px);
        width: 8px;
        height: 8px;
      }
    }

    .faq__item[open] > &:before {
      @include position-top-bottom(9px, 0);
      transform: rotate(135deg);

      @media (max-width: $SizeTablet - 1px) {
        bottom: calc-size-phone-tablet(2, 0);
      }

      @media (max-width: $SizePhone) {
        bottom: 2px;
      }
    }
  }


  &__answer {
    background: $VeryLightSilver;
    padding: 15px 30px 30px;

    @media (max-width: $Breakpoint-830) {
      padding: calc-size(10, 15, $SizeTabletN, $Breakpoint-830N) calc-size(31, 30, $SizeTabletN, $Breakpoint-830N)
               calc-size(20, 30, $SizeTabletN, $Breakpoint-830N);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(14, 16), calc-size-phone-tablet(17, 19));
      padding: 10px 24px 20px;
    }

    @media (max-width: $SizePhone) {
      @include font-size(14px, 17px);
    }
  }
}