@import "../vars", "../mixins", "../functions";


.partners {
  background: white;


  &__container {
    @include flex-center-center;
    @include padding-vertical(48px, 36px);
    min-height: 172px;

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size(14, 48, $SizeTabletN, $SizeDesktopN),
                                calc-size(18, 36, $SizeTabletN, $SizeDesktopN));
      min-height: calc-size(112, 172, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(calc-size(7, 14, $SizePhoneN, $SizeTabletN),
                                calc-size(10, 14, $SizePhoneN, $SizeTabletN));
      min-height: calc-size(124, 112, $SizePhoneN, $SizeTabletN);
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(12px, 8px);
      min-height: 124px;
    }
  }


  &__content {
    width: 983px;
    display: flex;
    position: relative;
    margin-left: 24px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size(598, 983, $SizeTabletN, $SizeDesktopN);
      margin-left: calc-size(17, 24, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size(419, 475, $Breakpoint-630N, $SizeTabletN);
      margin-left: 3px;
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size(236, 308, $SizePhoneN, $Breakpoint-630N);
    }

    @media (max-width: $SizePhone) {
      width: 236px;
    }
  }


  &__icon {
    width: 127px;
    height: 68px;
    display: block;
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size(76, 127, $SizeTabletN, $SizeDesktopN);
      height: calc-size(48, 68, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size(111, 127, $Breakpoint-630N, $SizeTabletN);
      height: calc-size(62, 68, $Breakpoint-630N, $SizeTabletN);
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size(85, 111, $SizePhoneN, $Breakpoint-630N);
      height: calc-size(48, 62, $SizePhoneN, $Breakpoint-630N);
    }

    @media (max-width: $SizePhone) {
      width: 85px;
      height: 48px;
    }


    &_bringo {
      @include delivery("bringo", 0, 3px);
    }

    &_cdek {
      @include delivery("cdek", 0, 2px);
    }

    &_city-express {
      @include delivery("city-express", 0, 2px);
    }

    &_dpd {
      @include delivery("dpd", 0, -3px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: 0 calc-size(-2, -3, $SizeTabletN, $SizeDesktopN);
      }

      @media (max-width: $SizeTablet) {
        background-position: 0 -2px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: 0 calc-size(0, -2, $SizePhoneN, $Breakpoint-630N);
      }
    }

    &_pony-express {
      @include delivery("pony-express", -1px, 4px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size(3, 4, $SizeTabletN, $SizeDesktopN);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 3px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size(0, -1, $SizePhoneN, $Breakpoint-630N)
                             calc-size(0, 3, $SizePhoneN, $Breakpoint-630N);
      }
    }

    &_spsr {
      @include delivery("spsr", -1px, 5px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size(3, 5, $SizeTabletN, $SizeDesktopN);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 3px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size(0, -1, $SizePhoneN, $Breakpoint-630N)
                             calc-size(0, 3, $SizePhoneN, $Breakpoint-630N);
      }
    }

    &_tnt {
      @include delivery("tnt", -1px, 3px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size(2, 3, $SizeTabletN, $SizeDesktopN);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 2px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size(0, -1, $SizePhoneN, $Breakpoint-630N)
                             calc-size(0, 2, $SizePhoneN, $Breakpoint-630N);
      }
    }

    &_ups {
      @include delivery("ups", -1px, 1px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size(0, 1, $SizeTabletN, $SizeDesktopN);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 0;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size(0, -1, $SizePhoneN, $Breakpoint-630N) 0;
      }
    }


    background-size: 94px;

    @media (max-width: $SizeDesktop - 1px) {
      background-size: calc-size(66, 94, $SizeTabletN, $SizeDesktopN) auto;
    }

    @media (max-width: $SizeTablet - 1px) {
      background-size: calc-size(86, 94, $SizePhoneN, $SizeTabletN) auto;
    }

    @media (max-width: $Breakpoint-630) {
      background-size: calc-size(66, 86, $SizePhoneN, $Breakpoint-630N) auto;
    }

    @media (max-width: $SizePhone) {
      background-size: 66px;
    }


    img {
      @media (max-width: $SizePhone) {
        background-position: 0;
      }
    }
  }
}


.partners__content .slick {
  &-slide {
    display: flex;

    @media (max-width: $SizeTablet - 1px) {
      flex-direction: column;
    }
  }

  &-arrow {
    top: 0;
    bottom: 11px;
    margin: auto;

    @media (max-width: $SizeDesktop - 1px) {
      bottom: calc-size(3, 11, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet) {
      bottom: 9px;
    }
  }

  &-prev {
    left: -94px;

    @media (max-width: $SizeDesktop - 1px) {
      left: calc-size(-58, -94, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      left: calc-size(-20, -58, $SizePhoneN, $SizeTabletN);
    }

    @media (max-width: $SizePhone) {
      left: -20px;
    }
  }

  &-next {
    right: -72px;

    @media (max-width: $SizeDesktop - 1px) {
      right: calc-size(-40, -72, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      right: calc-size(-17, -40, $SizePhoneN, $SizeTabletN);
    }

    @media (max-width: $SizePhone) {
      right: -17px;
    }
  }
}