@import "../vars", "../mixins", "../functions";


.parcel {
  background: $Silver;


  &__container {
    @include flex-between-center;
    @include padding-vertical(44px, 48px);
    min-height: 180px;

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size(22, 44, $SizeTabletN, $SizeDesktopN),
                                calc-size(22, 48, $SizeTabletN, $SizeDesktopN));
      min-height: calc-size(124, 180, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(calc-size(19, 22, $SizePhoneN, $SizeTabletN),
                                calc-size(16, 26, $SizePhoneN, $SizeTabletN));
      min-height: 124px;
    }

    @media (max-width: $Breakpoint-630) {
      min-height: calc-size(161, 141, $SizePhoneN, $Breakpoint-630N);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(19px, 16px);
      min-height: 161px;
    }
  }


  &__title {
    width: 760px;
    text-transform: none;
    padding-bottom: 2px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size(380, 760, $SizeTabletN, $SizeDesktopN);
      font-size: calc-size(28, 36, $SizeTabletN, $SizeDesktopN);
      line-height: calc-size(34, 43, $SizeTabletN, $SizeDesktopN);
      padding-bottom: calc-size(6, 2, $SizeTabletN, $SizeDesktopN);
    }

    @media (max-width: $SizeTablet) {
      font-size: calc-size(24, 28, $SizePhoneN, $SizeTabletN);
      line-height: calc-size(29, 34, $SizePhoneN, $SizeTabletN);
      padding-bottom: 6px;
    }

    @media (max-width: $Breakpoint-630) {
      width: 100%;
      padding-bottom: 0;
    }

    @media (max-width: $SizePhone) {
      font-size: 24px;
      line-height: 29px;
    }
  }


  &__button {
    margin-left: 40px;

    @media (max-width: $SizeTablet) {
      margin-left: calc-size(32, 40, $Breakpoint-630N, $SizeTabletN);
    }

    @media (max-width: $Breakpoint-630) {
      margin: calc-size(13, 17, $SizePhoneN, $Breakpoint-630N) 0 0;
    }

    @media (max-width: $SizePhone) {
      margin-top: 13px;
    }
  }
}