@import "../vars", "../mixins", "../functions";


.partners {
  background: white;


  &__container {
    @include flex-center-center;
    @include padding-vertical(48px, 36px);
    min-height: 172px;

    @media (max-width: $SizeDesktop - 1px) {
      @include padding-vertical(calc-size-tablet-desktop(14, 48), calc-size-tablet-desktop(18, 36));
      min-height: calc-size-tablet-desktop(112, 172);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include padding-vertical(calc-size-phone-tablet(12, 24), calc-size-phone-tablet(8, 18));
      min-height: calc-size-phone-tablet(124, 112);
    }

    @media (max-width: $SizePhone) {
      @include padding-vertical(12px, 8px);
      min-height: 124px;
    }
  }


  &__content {
    width: 983px;
    display: flex;
    position: relative;
    margin-left: 24px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(598, 983);
      margin-left: calc-size-tablet-desktop(17, 24);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-630px-tablet(419, 475);
      margin-left: 3px;
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size-phone-630px(236, 308);
    }

    @media (max-width: $SizePhone) {
      width: 236px;
    }
  }


  &__icon {
    width: 127px;
    height: 68px;
    display: block;
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(76, 127);
      height: calc-size-tablet-desktop(48, 68);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-630px-tablet(111, 127);
      height: calc-size-630px-tablet(62, 68);
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size-phone-630px(85, 111);
      height: calc-size-phone-630px(48, 62);
    }

    @media (max-width: $SizePhone) {
      width: 85px;
      height: 48px;
    }


    &_bringo {
      @include delivery("bringo", 0, 3px);
    }

    &_cdek {
      @include delivery("cdek", 0, 2px);
    }

    &_city-express {
      @include delivery("city-express", 0, 2px);
    }

    &_dpd {
      @include delivery("dpd", 0, -3px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: 0 calc-size-tablet-desktop(-2, -3);
      }

      @media (max-width: $SizeTablet) {
        background-position: 0 -2px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: 0 calc-size-phone-630px(0, -2);
      }
    }

    &_pony-express {
      @include delivery("pony-express", -1px, 4px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size-tablet-desktop(3, 4);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 3px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size-phone-630px(0, -1) calc-size-phone-630px(0, 3);
      }
    }

    &_spsr {
      @include delivery("spsr", -1px, 5px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size-tablet-desktop(3, 5);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 3px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size-phone-630px(0, -1) calc-size-phone-630px(0, 3);
      }
    }

    &_tnt {
      @include delivery("tnt", -1px, 3px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size-tablet-desktop(2, 3);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 2px;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size-phone-630px(0, -1) calc-size-phone-630px(0, 2);
      }
    }

    &_ups {
      @include delivery("ups", -1px, 1px);

      @media (max-width: $SizeDesktop - 1px) {
        background-position: -1px calc-size-tablet-desktop(0, 1);
      }

      @media (max-width: $SizeTablet) {
        background-position: -1px 0;
      }

      @media (max-width: $Breakpoint-630) {
        background-position: calc-size-phone-630px(0, -1) 0;
      }
    }


    background-size: 94px;

    @media (max-width: $SizeDesktop - 1px) {
      background-size: calc-size-tablet-desktop(66, 94) auto;
    }

    @media (max-width: $SizeTablet - 1px) {
      background-size: calc-size-phone-tablet(86, 94) auto;
    }

    @media (max-width: $Breakpoint-630) {
      background-size: calc-size(66, 86, $SizePhoneN, $Breakpoint-630N) auto;
    }

    @media (max-width: $SizePhone) {
      background-position: 0 0;
      background-size: 66px;
    }
  }
}


.partners__content .slick {
  &-slide {
    display: flex;

    @media (max-width: $SizeTablet - 1px) {
      flex-direction: column;
    }
  }

  &-arrow {
    @include position-top-bottom(0, 11px);
    margin: auto;

    @media (max-width: $SizeDesktop - 1px) {
      bottom: calc-size-tablet-desktop(4, 11);
    }

    @media (max-width: $SizeTablet - 1px) {
      bottom: calc-size-phone-tablet(8, 4);
    }

    @media (max-width: $SizePhone) {
      bottom: 8px;
    }
  }

  &-prev {
    left: -94px;

    @media (max-width: $SizeDesktop - 1px) {
      left: calc-size-tablet-desktop(-57, -94);
    }

    @media (max-width: $SizeTablet - 1px) {
      left: calc-size-phone-tablet(-20, -72);
    }

    @media (max-width: $SizePhone) {
      left: -20px;
    }
  }

  &-next {
    right: -72px;

    @media (max-width: $SizeDesktop - 1px) {
      right: calc-size-tablet-desktop(-40, -72);
    }

    @media (max-width: $SizeTablet - 1px) {
      right: calc-size-phone-tablet(-17, -55);
    }

    @media (max-width: $SizePhone) {
      right: -17px;
    }
  }
}