@import "../vars", "../mixins";


.partners {
  background: white;


  &__container {
    min-height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 36px;

    @media (max-width: $SizeDesktop - 1px) {
      min-height: calc(172px - (#{$SizeDesktop} - 100vw) * #{60 / ($SizeDesktopN - $SizeTabletN)});
      padding-top: calc(28px - (#{$SizeDesktop} - 100vw) * #{14 / ($SizeDesktopN - $SizeTabletN)});
      padding-bottom: calc(16px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      min-height: calc(112px + (#{$SizeTablet} - 100vw) * #{12 / ($SizeTabletN - $SizePhoneN)});
      padding-top: calc(14px - (#{$SizeTablet} - 100vw) * #{7 / ($SizeTabletN - $SizePhoneN)});
      padding-bottom: calc(14px - (#{$SizeTablet} - 100vw) * #{4 / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      min-height: 124px;
      padding-top: 7px;
      padding-bottom: 4px;
    }
  }


  &__content {
    width: 983px;
    display: flex;
    position: relative;
    margin-left: 24px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(983px - (#{$SizeDesktop} - 100vw) * #{385 / ($SizeDesktopN - $SizeTabletN)});
      margin-left: calc(21px - (#{$SizeDesktop} - 100vw) * #{4 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc(475px - (#{$SizeTablet} - 100vw) * #{56 / ($SizeTabletN - $Breakpoint-630N)});
      margin-left: calc(17px - (#{$SizeDesktop} - 100vw) * #{7 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      width: calc(310px - (#{$Breakpoint-630} - 100vw) * #{92 / ($Breakpoint-630N - $SizePhoneN)});
      margin-left: calc(10px - (#{$SizeDesktop} - 100vw) * #{9 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizePhone) {
      width: 236px;
      margin-left: 3px;
    }
  }


  &__icon {
    width: 127px;
    height: 68px;
    display: block;
    position: relative;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(127px - (#{$SizeDesktop} - 100vw) * #{51 / ($SizeDesktopN - $SizeTabletN)});
      height: calc(68px - (#{$SizeDesktop} - 100vw) * #{20 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc(127px - (#{$SizeTablet} - 100vw) * #{16 / ($SizeTabletN - $Breakpoint-630N)});
      height: calc(68px - (#{$SizeTablet} - 100vw) * #{6 / ($SizeTabletN - $Breakpoint-630N)});
    }

    @media (max-width: $Breakpoint-630) {
      width: calc(112px - (#{$Breakpoint-630} - 100vw) * #{36 / ($Breakpoint-630N - $SizePhoneN)});
      height: calc(62px - (#{$Breakpoint-630} - 100vw) * #{14 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      width: 85px;
      height: 48px;
    }


    &_bringo {
      background: url("../images/delivery/bringo.png") 0 -61px no-repeat;
    }

    &_cdek {
      background: url("../images/delivery/cdek.png") 0 -62px no-repeat;
    }

    &_city-express {
      background: url("../images/delivery/city-express.png") 0 -62px no-repeat;
    }

    &_dpd {
      background: url("../images/delivery/dpd.png") 0 -67px no-repeat;
    }

    &_pony-express {
      background: url("../images/delivery/pony-express.png") -1px -60px no-repeat;
    }

    &_spsr {
      background: url("../images/delivery/spsr.png") -1px -59px no-repeat;
    }

    &_tnt {
      background: url("../images/delivery/tnt.png") -1px -61px no-repeat;
    }

    &_ups {
      height: 64px;
      background: url("../images/delivery/ups.png") -1px -63px no-repeat;
      margin-bottom: 4px;

      @media (max-width: $SizeDesktop - 1px) {
        //height: calc(4px - (#{$SizeDesktop} - 100vw) * #{1 / ($SizeDesktopN - $SizeTabletN)});
      }

      @media (max-width: $SizeTablet - 1px) {
        //height: calc(4px - (#{$SizeTablet} - 100vw) * #{1 / ($SizeTabletN - $SizePhoneN)});
      }

      @media (max-width: $SizePhone - 1px) {
        //height: 3px;
      }
    }


    background-size: 94px;

    @media (max-width: $SizeDesktop - 1px) {
      background-size: calc(94px - (#{$SizeDesktop} - 100vw) * #{28 / ($SizeDesktopN - $SizeTabletN)}) auto;
    }

    @media (max-width: $SizeTablet - 1px) {
      background-size: calc(94px - (#{$SizeTablet} - 100vw) * #{8 / ($SizeTabletN - $SizePhoneN)}) auto;
    }

    @media (max-width: $Breakpoint-630) {
      background-size: calc(86px - (#{$Breakpoint-630} - 100vw) * #{20 / ($Breakpoint-630N - $SizePhoneN)}) auto;
    }

    @media (max-width: $SizePhone) {
      background-size: 66px;
    }
  }
}


.partners__content .slick {
  &-slide {
    display: flex;

    @media (max-width: $SizeTablet - 1px) {
      flex-direction: column;
    }
  }

  &-arrow {
    top: 0;
    bottom: 11px;
    margin: auto;

    @media (max-width: $SizeDesktop - 1px) {
      bottom: calc(11px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc(19.2px + (#{$SizeTablet} - 100vw) * #{9.2 / ($SizeTabletN - $SizePhoneN)});
      height: calc(19.2px + (#{$SizeTablet} - 100vw) * #{9.2 / ($SizeTabletN - $SizePhoneN)});
      bottom: 10px;
    }

    @media (max-width: $SizePhone) {
      width: 10px;
      height: 10px;
    }
  }

  &-prev {
    left: -94px;

    @media (max-width: $SizeDesktop - 1px) {
      left: calc(-94px + (#{$SizeDesktop} - 100vw) * #{36 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      left: calc(-58px + (#{$SizeTablet} - 100vw) * #{38 / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      left: -20px;
    }
  }

  &-next {
    right: -72px;

    @media (max-width: $SizeDesktop - 1px) {
      right: calc(-72px + (#{$SizeDesktop} - 100vw) * #{33 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      right: calc(-39px + (#{$SizeTablet} - 100vw) * #{22 / ($SizeTabletN - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      right: -17px;
    }
  }
}