@import "../vars", "../mixins";


.scenario {
  background: white;


  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 47px 120px;
    padding: 64px 182px 69px 198px;

    @media (max-width: $SizeDesktop - 1px) {
      grid-gap: calc(47px - (#{$SizeDesktop} - 100vw) * #{25 / ($SizeDesktopN - $SizeTabletN)})
                calc(120px - (#{$SizeDesktop} - 100vw) * #{49 / ($SizeDesktopN - $SizeTabletN)});
      padding: calc(64px - (#{$SizeDesktop} - 100vw) * #{28 / ($SizeDesktopN - $SizeTabletN)})
               calc(182px - (#{$SizeDesktop} - 100vw) * #{129 / ($SizeDesktopN - $SizeTabletN)})
               calc(69px - (#{$SizeDesktop} - 100vw) * #{5 / ($SizeDesktopN - $SizeTabletN)})
               calc(198px - (#{$SizeDesktop} - 100vw) * #{124 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $SizeTablet - 1px) {
      padding: calc(36px - (#{$SizeTablet} - 100vw) * #{2 / ($SizeTabletN - $Breakpoint-630N)})
               max(#{$ContainerPaddingSm}, calc(53px + (100% - 100vw) - (#{$SizeTablet} - 100vw) * #{(53 - $ContainerPaddingSmN) / ($SizeTabletN - $Breakpoint-630N)}))
               calc(64px - (#{$SizeTablet} - 100vw) * #{4 / ($SizeTabletN - $Breakpoint-630N)})
               calc(74px - (#{$SizeTablet} - 100vw) * #{(74 - $ContainerPaddingSmN) / ($SizeTabletN - $Breakpoint-630N)});
    }

    @media (max-width: $Breakpoint-630) {
      grid-template-columns: 1fr;
      grid-gap: calc(27px - (#{$Breakpoint-630} - 100vw) * #{11 / ($Breakpoint-630N - $SizePhoneN)});
      justify-items: center;
      padding: calc(45px - (#{$Breakpoint-630} - 100vw) * #{18 / ($Breakpoint-630N - $SizePhoneN)})
               $ContainerPaddingSm calc(48px - (#{$Breakpoint-630} - 100vw) * #{34 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      grid-gap: 16px;
      padding: 27px $ContainerPaddingSm 14px;
    }
  }


  &__figure {
    width: 480px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(480px - (#{$SizeDesktop} - 100vw) * #{190 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      width: calc(480px - (#{$Breakpoint-630} - 100vw) * #{202 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      width: 278px;
    }
  }


  &__image {
    height: 314px;

    @media (max-width: $SizeDesktop - 1px) {
      height: calc(314px - (#{$SizeDesktop} - 100vw) * #{122 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      height: calc(314px - (#{$Breakpoint-630} - 100vw) * #{122 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      height: 192px;
    }


    &_step-1 {
      width: 462px;
      height: 312px;
      margin-top: 5px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc(462px - (#{$SizeDesktop} - 100vw) * #{181 / ($SizeDesktopN - $SizeTabletN)});
        height: calc(312px - (#{$SizeDesktop} - 100vw) * #{122 / ($SizeDesktopN - $SizeTabletN)});
        margin-top: calc(5px - (#{$SizeDesktop} - 100vw) * #{3 / ($SizeDesktopN - $SizeTabletN)});
      }

      @media (max-width: $Breakpoint-630) {
        width: calc(462px - (#{$Breakpoint-630} - 100vw) * #{184 / ($Breakpoint-630N - $SizePhoneN)});
        height: calc(312px - (#{$Breakpoint-630} - 100vw) * #{124 / ($Breakpoint-630N - $SizePhoneN)});
        margin-top: 0;
      }

      @media (max-width: $SizePhone) {
        width: 278px;
        height: 188px;
      }
    }


    &_step-2 {
      width: 459px;
      height: 299px;
      margin: 12px 0 0 1px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc(459px - (#{$SizeDesktop} - 100vw) * #{181 / ($SizeDesktopN - $SizeTabletN)});
        height: calc(299px - (#{$SizeDesktop} - 100vw) * #{118 / ($SizeDesktopN - $SizeTabletN)});
        margin: calc(12px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)}) 0 0 1px;
      }

      @media (max-width: $Breakpoint-630) {
        width: calc(459px - (#{$Breakpoint-630} - 100vw) * #{182 / ($Breakpoint-630N - $SizePhoneN)});
        height: calc(299px - (#{$Breakpoint-630} - 100vw) * #{118 / ($Breakpoint-630N - $SizePhoneN)});
        margin: calc(12px - (#{$Breakpoint-630} - 100vw) * #{7 / ($Breakpoint-630N - $SizePhoneN)}) 0 0 1px;
      }

      @media (max-width: $SizePhone) {
        width: 277px;
        height: 181px;
        margin-top: 5px;
      }
    }


    &_step-3 {
      width: 460px;
      height: 311px;
      margin-top: 17px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc(460px - (#{$SizeDesktop} - 100vw) * #{180 / ($SizeDesktopN - $SizeTabletN)});
        height: calc(311px - (#{$SizeDesktop} - 100vw) * #{122 / ($SizeDesktopN - $SizeTabletN)});
        margin: calc(17px - (#{$SizeDesktop} - 100vw) * #{16 / ($SizeDesktopN - $SizeTabletN)}) 0 0 1px;
      }

      @media (max-width: $Breakpoint-630) {
        width: calc(460px - (#{$Breakpoint-630} - 100vw) * #{183 / ($Breakpoint-630N - $SizePhoneN)});
        height: calc(311px - (#{$Breakpoint-630} - 100vw) * #{124 / ($Breakpoint-630N - $SizePhoneN)});
        margin: calc(17px - (#{$Breakpoint-630} - 100vw) * #{2 / ($Breakpoint-630N - $SizePhoneN)}) 0 0 1px;
      }

      @media (max-width: $SizePhone) {
        width: 277px;
        height: 187px;
        margin-top: 15px;
      }
    }


    &_step-4 {
      width: 461px;
      height: 299px;
      margin: 14px 0 0 1px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc(461px - (#{$SizeDesktop} - 100vw) * #{182 / ($SizeDesktopN - $SizeTabletN)});
        height: calc(299px - (#{$SizeDesktop} - 100vw) * #{118 / ($SizeDesktopN - $SizeTabletN)});
        margin: calc(14px - (#{$SizeDesktop} - 100vw) * #{12 / ($SizeDesktopN - $SizeTabletN)}) 0 0 1px;
      }

      @media (max-width: $Breakpoint-630) {
        width: calc(461px - (#{$Breakpoint-630} - 100vw) * #{185 / ($Breakpoint-630N - $SizePhoneN)});
        height: calc(299px - (#{$Breakpoint-630} - 100vw) * #{120 / ($Breakpoint-630N - $SizePhoneN)});
        margin: calc(14px - (#{$Breakpoint-630} - 100vw) * #{12 / ($Breakpoint-630N - $SizePhoneN)}) 0 0 1px;
      }

      @media (max-width: $SizePhone) {
        width: 276px;
        height: 179px;
        margin-top: 2px;
      }
    }
  }


  &__caption {
    width: 462px;
    margin-top: 40px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(462px - (#{$SizeDesktop} - 100vw) * #{182 / ($SizeDesktopN - $SizeTabletN)});
      margin-top: calc(40px - (#{$SizeDesktop} - 100vw) * #{26 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      width: calc(462px - (#{$Breakpoint-630} - 100vw) * #{184 / ($Breakpoint-630N - $SizePhoneN)});
      padding-right: 8%;
      margin-top: calc(25px - (#{$Breakpoint-630} - 100vw) * #{10 / ($Breakpoint-630N - $SizePhoneN)});

      .scenario__figure:nth-of-type(3) > & {
        margin-top: calc(37px - (#{$Breakpoint-630} - 100vw) * #{15 / ($Breakpoint-630N - $SizePhoneN)});
      }

      .scenario__figure:nth-of-type(4) > & {
        margin-top: calc(17px - (#{$Breakpoint-630} - 100vw) * #{7 / ($Breakpoint-630N - $SizePhoneN)});
      }
    }

    @media (max-width: $SizePhone) {
      width: 278px;
      margin-top: 15px;

      .scenario__figure:nth-of-type(3) > & {
        margin-top: 22px;
      }

      .scenario__figure:nth-of-type(4) > & {
        margin-top: 10px;
      }
    }
  }


  &__title {
    @media (max-width: $SizeDesktop - 1px) {
      font-size: calc(30px - (#{$SizeDesktop} - 100vw) * #{4 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(36px - (#{$SizeDesktop} - 100vw) * #{5 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      font-size: calc(30px - (#{$Breakpoint-630} - 100vw) * #{4 / ($Breakpoint-630N - $SizePhoneN)});
      line-height: calc(36px - (#{$Breakpoint-630} - 100vw) * #{5 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      font-size: 26px;
      line-height: 31px;
    }
  }


  &__text {
    min-height: 60px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 9px;

    @media (max-width: $SizeDesktop - 1px) {
      min-height: calc(60px - (#{$SizeDesktop} - 100vw) * #{16 / ($SizeDesktopN - $SizeTabletN)});
      font-size: calc(20px - (#{$SizeDesktop} - 100vw) * #{4 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(24px - (#{$SizeDesktop} - 100vw) * #{5 / ($SizeDesktopN - $SizeTabletN)});
      margin-top: calc(9px + (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }

    @media (max-width: $Breakpoint-630) {
      min-height: calc(60px - (#{$Breakpoint-630} - 100vw) * #{22 / ($Breakpoint-630N - $SizePhoneN)});
      font-size: calc(20px - (#{$Breakpoint-630} - 100vw) * #{6 / ($Breakpoint-630N - $SizePhoneN)});
      line-height: calc(24px - (#{$Breakpoint-630} - 100vw) * #{7 / ($Breakpoint-630N - $SizePhoneN)});
      margin-top: calc(5px - (#{$Breakpoint-630} - 100vw) * #{2 / ($Breakpoint-630N - $SizePhoneN)});
    }

    @media (max-width: $SizePhone) {
      min-height: 38px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 3px;
    }
  }
}