@import "../vars", "../mixins", "../functions";


.scenario {
  background: white;


  //noinspection CssOverwrittenProperties
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 47px 100px;
    padding: 64px 182px 69px 198px;

    @media (max-width: $SizeDesktop - 1px) {
      grid-gap: calc-size-tablet-desktop(22, 47) calc-size-tablet-desktop(60, 100);
      padding: calc-size-tablet-desktop(36, 64) calc-size-tablet-desktop(53, 182)
               calc-size-tablet-desktop(64, 69) calc-size-tablet-desktop(74, 198);
      padding: calc-size-tablet-desktop(36, 64) calc-size-with-scroll-tablet-desktop(53, 182)
               calc-size-tablet-desktop(64, 69) calc-size-tablet-desktop(74, 198);
    }

    @media (max-width: $SizeTablet - 1px) {
      padding: calc-size-630px-tablet(34, 36) calc-size-630px-tablet($ContainerPaddingSmN, 53)
               calc-size-630px-tablet(60, 64) calc-size-630px-tablet($ContainerPaddingSmN, 74);
      padding: calc-size-630px-tablet(34, 36) calc-size-with-scroll-630px-tablet($ContainerPaddingSmN, 53)
               calc-size-630px-tablet(60, 64) calc-size-630px-tablet($ContainerPaddingSmN, 74);
    }

    @media (max-width: $Breakpoint-630) {
      grid-template-columns: 1fr;
      grid-gap: calc-size-phone-630px(16, 27);
      justify-items: center;
      padding: calc-size-phone-630px(27, 34) $ContainerPaddingSm calc-size-phone-630px(14, 60);
    }

    @media (max-width: $SizePhone) {
      grid-gap: 16px;
      padding: 27px $ContainerPaddingSm 14px;
    }
  }


  &__figure {
    width: 480px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(290, 480);
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size-phone-630px(278, 480);
    }

    @media (max-width: $SizePhone) {
      width: 278px;
    }
  }


  &__image {
    height: 314px;

    @media (max-width: $SizeDesktop - 1px) {
      height: calc-size-tablet-desktop(192, 314);
    }

    @media (max-width: $Breakpoint-630) {
      height: calc-size-phone-630px(192, 314);
    }

    @media (max-width: $SizePhone) {
      height: 192px;
    }


    &_step-1 {
      width: 462px;
      height: 312px;
      margin-top: 5px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(281, 462);
        height: calc-size-tablet-desktop(190, 312);
        margin-top: calc-size-tablet-desktop(2, 5);
      }

      @media (max-width: $Breakpoint-630) {
        width: calc-size-phone-630px(278, 462);
        height: calc-size-phone-630px(188, 312);
        margin-top: 0;
      }

      @media (max-width: $SizePhone) {
        width: 278px;
        height: 188px;
      }
    }


    &_step-2 {
      width: 459px;
      height: 299px;
      margin: 12px 0 0 1px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(278, 459);
        height: calc-size-tablet-desktop(181, 299);
        margin-top: calc-size-tablet-desktop(2, 12);
      }

      @media (max-width: $Breakpoint-630) {
        width: calc-size-phone-630px(277, 459);
        height: calc-size-phone-630px(181, 299);
        margin-top: calc-size-phone-630px(5, 12);
      }

      @media (max-width: $SizePhone) {
        width: 277px;
        height: 181px;
        margin-top: 5px;
      }
    }


    &_step-3 {
      width: 460px;
      height: 311px;
      margin-top: 17px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(280, 460);
        height: calc-size-tablet-desktop(189, 311);
        margin: calc-size-tablet-desktop(1, 17) 0 0 1px;
      }

      @media (max-width: $Breakpoint-630) {
        width: calc-size-phone-630px(277, 460);
        height: calc-size-phone-630px(187, 311);
        margin-top: calc-size-phone-630px(15, 17);
      }

      @media (max-width: $SizePhone) {
        width: 277px;
        height: 187px;
        margin-top: 15px;
      }
    }


    &_step-4 {
      width: 461px;
      height: 299px;
      margin: 14px 0 0 1px;

      @media (max-width: $SizeDesktop - 1px) {
        width: calc-size-tablet-desktop(279, 461);
        height: calc-size-tablet-desktop(181, 299);
        margin-top: calc-size-tablet-desktop(2, 14);
      }

      @media (max-width: $Breakpoint-630) {
        width: calc-size-phone-630px(276, 461);
        height: calc-size-phone-630px(179, 299);
        margin-top: calc-size-phone-630px(2, 14);
      }

      @media (max-width: $SizePhone) {
        width: 276px;
        height: 179px;
        margin-top: 2px;
      }
    }
  }


  &__caption {
    width: 462px;
    margin-top: 40px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(280, 462);
      margin-top: calc-size-tablet-desktop(14, 40);
    }

    @media (max-width: $Breakpoint-630) {
      width: calc-size-phone-630px(278, 462);
      padding-right: 8%;
      margin-top: calc-size-phone-630px(15, 25);

      .scenario__figure:nth-of-type(3) > & {
        margin-top: calc-size-phone-630px(22, 37);
      }

      .scenario__figure:nth-of-type(4) > & {
        margin-top: calc-size-phone-630px(10, 17);
      }
    }

    @media (max-width: $SizePhone) {
      width: 278px;
      margin-top: 15px;

      .scenario__figure:nth-of-type(3) > & {
        margin-top: 22px;
      }

      .scenario__figure:nth-of-type(4) > & {
        margin-top: 10px;
      }
    }
  }


  &__title {
    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(26, 30), calc-size-tablet-desktop(31, 36));
    }

    @media (max-width: $Breakpoint-630) {
      @include font-size(calc-size-phone-630px(26, 30), calc-size-phone-630px(31, 36));
    }

    @media (max-width: $SizePhone) {
      @include font-size(26px, 31px);
    }
  }


  &__text {
    @include font-size(20px, 24px);
    min-height: 60px;
    margin-top: 9px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(16, 20), calc-size-tablet-desktop(19, 24));
      min-height: calc-size-tablet-desktop(44, 60);
      margin-top: calc-size-tablet-desktop(11, 9);
    }

    @media (max-width: $Breakpoint-630) {
      @include font-size(calc-size-phone-630px(14, 20), calc-size-phone-630px(17, 24));
      min-height: calc-size-phone-630px(38, 60);
      margin-top: calc-size-phone-630px(3, 5);
    }

    @media (max-width: $SizePhone) {
      @include font-size(14px, 17px);
      min-height: 38px;
      margin-top: 3px;
    }
  }
}