@import "../mixins", "../vars";


.breadcrumbs {
  display: flex;

  &__item {
    text-decoration: none;
    color: $DarkGray;
    font-size: 14px;
    line-height: 16.8px;
    border: none;
    margin-left: 3px;
    &:before {
      content: "/";
      display:inline-block;
      margin-right: 3px;
    }
    &:first-of-type {
      margin-left: 0;
      &:before {
        content: "";
        margin-right: 0;
      }
    }
    &:hover:not(:active) {
      text-decoration: underline;
    }
    &:active {
      color: $Gray;
      border: none;
    }
  }
}