@import "../mixins", "../vars", "../functions";


.colors {
  display: grid;
  grid-template-columns: [caption] 1fr repeat(4, 128px);
  grid-gap: 50px 40px;
  padding-bottom: 28px;
  padding-right: 20px;

  &__caption {
    @include font-family("semibold");
    @include font-size(24px, 29px);
    grid-column: caption;
  }

  &__box {
    @include font-family("semibold");
    @include font-size(12px, 15px);
    @include flex-center-center;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 32px;

    &_blue {
      color: white;
      background: $Blue;
    }

    &_light-blue {
      background: $LightBlue;
    }

    &_orange {
      background: $Orange;
    }

    &_light-orange {
      background: $LightOrange;
    }

    &_dark-gray {
      color: white;
      background: $DarkGray;
    }

    &_gray {
      background: $Gray;
    }

    &_light-gray {
      background: $LightGray;
    }

    &_white {
      background: white;
    }
  }

  &__text{
    @include font-size(12px, 15px);
    color: #8A8F92;
    margin-top: 14px;
    &:first-of-type {
      margin-top: 24px;
    }

    &_bold {
      @include font-family("black");
      width: 50px;
      color: $DarkGray;
      display: inline-block;
    }
  }
}