@import "../mixins", "../vars";


.fonts {
  display: grid;
  grid-template-columns: [font-1] 1fr [font-2] 1fr;
  grid-template-rows: 140px;
  grid-gap: 39px 58px;
  padding: 22px 20px 47px;

  &__caption {
    @include font-size(24px, 29px);
    grid-column: caption;
  }

  &__font-1, &__font-2 {
    color: $DarkGray;
    display: flex;
  }

  &__font-1 {
    grid-column: font-1;
  }

  &__font-2 {
    grid-column: font-2;
  }

  &__view {
    @include font-size(105px, 126px);
    width: 144px;
    margin-top: -16px;
  }

  &__info {
    margin-left: 5px;
  }

  &__title {
    @include font-size(26px, 31px);
    margin-top: 3px;
  }

  &__example {
    margin-top: 13px;
    &:last-of-type {
      margin-top: 6px;
    }
  }

  &_light {
    @include font-family('light');

    .fonts__title, .fonts__example {
      @include font-family('light');
    }
  }

  &_semibold {
    @include font-family('semibold');

    .fonts__title, .fonts__example {
      @include font-family('semibold');
    }
  }

  &_black {
    @include font-family('black');

    .fonts__title, .fonts__example {
      @include font-family('black');
    }
  }
}