@import "../../vars", "../../mixins";


.footer-callback {
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 12px 7px;

  @media (max-width: $SizeDesktop - 1px) {
    padding: calc(1px + (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)})
             calc(12px - (#{$SizeDesktop} - 100vw) * #{12 / ($SizeDesktopN - $SizeTabletN)})
             calc(7px - (#{$SizeDesktop} - 100vw) * #{6 / ($SizeDesktopN - $SizeTabletN)});
  }


  &__title {
    text-transform: uppercase;
    padding-right: 40px;

    @media (max-width: $SizeDesktop - 1px) {
      font-size: calc(30px - (#{$SizeDesktop} - 100vw) * #{10 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(36px - (#{$SizeDesktop} - 100vw) * #{12 / ($SizeDesktopN - $SizeTabletN)});
      padding-right: calc(40px - (#{$SizeDesktop} - 100vw) * #{20 / ($SizeDesktopN - $SizeTabletN)});
    }
  }


  &__form {
    width: 754px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 29px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(754px - (#{$SizeDesktop} - 100vw) * #{294 / ($SizeDesktopN - $SizeTabletN)});
      padding-top: calc(29px - (#{$SizeDesktop} - 100vw) * #{8 / ($SizeDesktopN - $SizeTabletN)});
    }
  }


  &__phone, &__button {
    width: 362px;
    height: 50px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc(362px - (#{$SizeDesktop} - 100vw) * #{142 / ($SizeDesktopN - $SizeTabletN)});
      height: calc(50px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }
  }


  &__phone {
    color: $VeryDarkGray;
    border-color: $VeryDarkGray;
    padding: 0 29px 1px;
    &::placeholder {
      color: $VeryDarkGray;
    }

    @media (max-width: $SizeDesktop - 1px) {
      font-size: calc(16px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
      line-height: calc(19px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
      padding: calc((#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)})
               calc(29px - (#{$SizeDesktop} - 100vw) * #{12 / ($SizeDesktopN - $SizeTabletN)}) 1px;
    }
  }

  &__button {
    justify-content: center;
    text-align: center;

    @media (max-width: $SizeDesktop - 1px) {
      padding: calc(9px + (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)}) 26px 8px;
    }
  }


  &__consent {
    color: $PearlLightGray;
    margin-top: 8px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc(8px - (#{$SizeDesktop} - 100vw) * #{2 / ($SizeDesktopN - $SizeTabletN)});
    }
  }
}