@import "../../vars", "../../mixins", "../../functions";


.footer-callback {
  @include flex-between-center;
  min-height: 110px;
  padding: 7px 12px;

  @media (max-width: $SizeDesktop - 1px) {
    padding: calc-size-tablet-desktop(8, 7) calc-size-tablet-desktop(0, 12);
  }

  @media (max-width: $SizeTablet - 1px) {
    min-height: calc-size-phone-tablet(178, 110);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: calc-size-phone-tablet(18, 24) 0 calc-size-phone-tablet(12, 16);
  }

  @media (max-width: $SizePhone) {
    min-height: 178px;
    padding: 18px 0 12px;
  }


  &__title {
    text-transform: uppercase;
    margin-bottom: 6px;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(20, 30), calc-size-tablet-desktop(24, 36));
      margin-bottom: calc-size-tablet-desktop(-2, 6);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(18, 30), calc-size-phone-tablet(22, 36));
      margin-bottom: 0;
    }

    @media (max-width: $SizePhone) {
      @include font-size(18px, 22px);
    }
  }


  &__form {
    @include flex-hbetween;
    width: 100%;
    max-width: #{($InputWidthLg + 2) * 2 + 30px};
    flex-wrap: wrap;
    margin-top: 23px;

    @media (max-width: $SizeDesktop - 1px) {
      max-width: calc-size-tablet-desktop(220 * 2 + 20, ($InputWidthLgN + 2) * 2 + 30);
    }

    @media (max-width: $SizeTablet - 1px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: calc-size-phone-tablet(10, 15);
    }

    @media (max-width: $SizePhone) {
      width: 100%;
      margin-top: 10px;
    }
  }


  &__phone, &__button {
    width: #{$InputWidthLg + 2px};
    height: $InputHeightLg;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(220, $InputWidthLgN + 2);
      height: calc-size-tablet-desktop($InputHeightMdN, $InputHeightLgN);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: 100%;
      height: calc-size-phone-tablet($InputHeightSm, $InputHeightMd);
    }

    @media (max-width: $SizePhone) {
      height: $InputHeightSm;
    }
  }


  &__phone {
    color: $VeryDarkGray;
    border-color: $VeryDarkGray;
    padding: 8px 29px;
    &::placeholder {
      color: $VeryDarkGray;
    }

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(14, 16), calc-size-tablet-desktop(17, 19));
      padding: 8px calc-size-tablet-desktop(17, 29);
    }

    @media (max-width: $SizeTablet - 1px) {
      @include font-size(calc-size-phone-tablet(14, 16), calc-size-phone-tablet(17, 19));
      padding: 8px calc-size-tablet-desktop(23, 29);
    }

    @media (max-width: $SizePhone) {
      @include font-size(14px, 17px);
      padding: 8px 23px;
    }
  }


  &__button {
    justify-content: center;
    text-align: center;

    @media (max-width: $SizeDesktop - 1px) {
      padding: 8px 26px 7px;
      margin-left: calc-size-tablet-desktop(20, 30);
    }

    @media (max-width: $SizeTablet - 1px) {
      padding: 8px calc-size-phone-tablet(20, 26) 7px;
      margin: calc-size-phone-tablet(10, 14) 0 0 20px;
    }

    @media (max-width: $SizePhone) {
      padding: 8px 20px 7px;
      margin-top: 10px;
    }
  }


  &__consent {
    color: $PearlLightGray;
    margin-top: 8px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(7, 8);
    }

    @media (max-width: $SizeTablet - 1px) {
      margin: calc-size-phone-tablet(12, 16) 0 0 calc-size-phone-tablet(5, 7);
    }

    @media (max-width: $SizePhone) {
      margin: 12px 0 0 5px;
    }
  }
}