@import "../../vars", "../../mixins", "../../functions";


.footer-copyright {
  @include flex-between-center;
  min-height: 62px;
  padding: 12px 12px 22px;

  @media (max-width: $SizeDesktop - 1px) {
    min-height: calc-size-tablet-desktop(44, 62);
    padding: calc-size-tablet-desktop(8, 12) calc-size-tablet-desktop(0, 12) calc-size-tablet-desktop(12, 22);
  }

  @media (max-width: $SizeTablet - 1px) {
    min-height: calc-size-tablet-desktop(40, 44);
    padding: calc-size-tablet-desktop(8, 12) calc-size-tablet-desktop(0, 12) calc-size-tablet-desktop(12, 22);
  }

  @media (max-width: $SizePhone) {
    min-height: 40px;
    padding: calc-size-tablet-desktop(8, 12) calc-size-tablet-desktop(0, 12) calc-size-tablet-desktop(12, 22);
  }


  &__text {
    width: 40%;

    @media (max-width: $SizeDesktop - 1px) {
      @include font-size(calc-size-tablet-desktop(12, 16), calc-size-tablet-desktop(14, 19));
    }


    &_year {
      margin: 0 69px;

      @media (max-width: $SizeDesktop - 1px) {
        margin: 0 calc-size-tablet-desktop(24, 69);
      }
    }


    &_left &_year {
      @media (max-width: $Breakpoint-830) {
        visibility: hidden;
      }
    }


    &_right {
      text-align: right;
    }

    &_right &_year {
      visibility: hidden;

      @media (max-width: $Breakpoint-830) {
        visibility: visible;
      }
    }
  }


  &__links {
    @include flex-hcenter;
    width: 20%;
    margin-top: 6px;

    @media (max-width: $SizeDesktop - 1px) {
      margin-top: calc-size-tablet-desktop(4, 6);
    }
  }


  &__link {
    @include flex-center-center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 29px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(13, 20);
      height: calc-size-tablet-desktop(13, 20);
      margin-left: calc-size-tablet-desktop(16, 29);
    }

    &:first-of-type {
      margin-left: -1px;

      @media (max-width: $SizeDesktop - 1px) {
        margin-left: calc-size-tablet-desktop(0, -1);
      }
    }


    img {
      width: inherit;
      height: auto;
    }
  }
}