@import "callback", "menu", "copyright";


.footer {
  background: $VeryLightGray;


  &-callback, &-menu {
    border-bottom: 1px solid $LightGray;
  }


  &__container {
    padding: 0 135px;

    @media (max-width: $SizeDesktop - 1px) {
      padding: 0 calc-size-with-scroll-tablet-desktop(34, 135, 21px) 0 calc-size-tablet-desktop(34, 135);
    }

    @media (max-width: $SizeTablet - 1px) {
      padding: 0 calc-size-phone-tablet(15, 34);
    }

    @media (max-width: $SizePhone) {
      padding: 0 15px;
    }
  }


  &__logo {
    width: 160px;
    height: 48px;

    @media (max-width: $SizeDesktop - 1px) {
      width: calc-size-tablet-desktop(99, 160);
      height: calc-size-tablet-desktop(30, 48);
    }

    @media (max-width: $SizeTablet - 1px) {
      width: calc-size-tablet-desktop(99, 160);
      height: calc-size-tablet-desktop(30, 48);
    }

    @media (max-width: $SizePhone) {
      width: calc-size-tablet-desktop(99, 160);
      height: calc-size-tablet-desktop(30, 48);
    }
  }
}