@import "../../vars", "../../mixins", "../../functions";


.footer-menu {
  min-height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 12px 12px;

  @media (max-width: $SizeDesktop - 1px) {
    min-height: calc-size-tablet-desktop(80, 94);
    padding: 8px 0 calc-size-tablet-desktop(16, 12) calc-size-tablet-desktop(0, 12);
  }

  @media (max-width: $SizeTablet - 1px) {
    min-height: 87px;
    padding: 5px 0 8px;
  }


  .main-menu {
    margin: 0 -3px 10px 0;

    @media (max-width: $SizeDesktop - 1px) {
      margin: 0 calc-size-tablet-desktop(1, -3) 10px 0;
    }


    &__item {
      margin-left: 77px;

      @media (max-width: $SizeDesktop - 1px) {
        margin-left: calc-size-tablet-desktop(32.5, 77);
      }

      &:first-of-type {
        margin-left: 0;
      }
    }


    &__link {
      color: black;


      @media (pointer: fine) {
        &:hover:not(:active) {
          border-bottom: 1px solid black;
        }

        &:active {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}