@font-face {
  font-family: "Myriad Pro Light";
  src: url("./fonts/myriadpro-light.ttf");
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("./fonts/myriadpro-regular.ttf");
}

@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("./fonts/myriadpro-semibold.ttf");
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url("./fonts/myriadpro-bold.ttf");
}

@font-face {
  font-family: "Myriad Pro Black";
  src: url("./fonts/myriadpro-black.ttf");
}