@import "vars";

@mixin H1() {
  font-family: "Myriad Pro Black", serif;
  font-size: 48px;
  line-height: 57.6px;
}

@mixin H2() {
  font-family: "Myriad Pro Bold", serif;
  font-size: 36px;
  line-height: 43.2px;
}

@mixin H3() {
  font-family: "Myriad Pro Semibold", serif;
  font-size: 30px;
  line-height: 36px;
}

@mixin P() {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19.2px;
}

@mixin A() {
  @include P;
  color: $DarkBlue;

  &:hover, &:active {
    text-decoration: none;
  }

  &:active {
    color: #003675;
  }
}

@mixin Button() {
  cursor: pointer;
  width: 285px;
  height: 50px;
  font-family: "Myriad Pro Semibold", serif;
  font-size: 16px;
  line-height: 19.2px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 0 30px;

  &:hover:not(:active):not(:disabled) {
    transition: linear 300ms;
    transform: scaleX(1.10175);
  }

  &:active:not(:disabled) {
    transition: linear 50ms;
  }

  &:disabled {
    color: #B3B3B3;
    background: none;
    border: 1px solid #B3B3B3;
  }
}
