@import "vars", "functions";
@import "mixins/animation";
@import "mixins/input";


/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/

@mixin hide() {
  visibility: hidden;
  position: absolute;
}

@mixin show($position: static) {
  visibility: visible;
  position: $position;
}


/************************************************
 *                  F O N T S                   *
 ************************************************/

// font family

@mixin font-awesome() {
  font-family: "FontAwesome", serif;
}

@mixin font-family($weight: 400) {
  @if $weight == 300 or $weight == "light" {
    font-family: "Myriad Pro Light", serif;
  } @else if $weight == 600 or $weight == "semibold" {
    font-family: "Myriad Pro Semibold", serif;
  } @else if $weight == 700 or $weight == "bold" {
    font-family: "Myriad Pro Bold", serif;
  } @else if $weight == 900 or $weight == "black" {
    font-family: "Myriad Pro Black", serif;
  } @else {
    font-family: "Myriad Pro Regular", serif;
  }
}

// font sizes

@mixin font-size($size: 14px, $height: normal) {
  font-size: $size;
  line-height: $height;
}

@mixin H1() {
  @include font-family("black");
  @include font-size(48px, 58px);
  text-transform: uppercase;
}

@mixin H2() {
  @include font-family("bold");
  @include font-size(36px, 43px);
  text-transform: uppercase;
}

@mixin H3() {
  @include font-family("semibold");
  @include font-size(30px, 36px);
}

@mixin P() {
  @include font-family("regular");
  @include font-size(16px, 19px);
}

@mixin A() {
  @include P;
  color: $DarkBlue;
  text-decoration: none;
}


/************************************************
 *                 I M A G E S                  *
 ************************************************/

@mixin background-image($file-name, $pos-y: 0, $pos-x: 0) {
  background: url("../images/" + $file-name) $pos-y $pos-x no-repeat;
}

@mixin delivery($name, $pos-y: center, $pos-x: center) {
  background: url("../images/delivery/" + $name + "-main.png") $pos-y $pos-x no-repeat;
}


/************************************************
 *                 S H A D O W                  *
 ************************************************/

@mixin box-shadow($color, $blur, $shift-y: 0, $shift-x: 0, $stretch: 0) {
  box-shadow: $shift-x $shift-y $blur $stretch $color;
}


/************************************************
 *                D I S P L A Y                 *
 ************************************************/

// flex

@mixin flex-hcenter() {
  display: flex;
  justify-content: center;
}

@mixin flex-hbetween() {
  display: flex;
  justify-content: space-between;
}

@mixin flex-vcenter() {
  display: flex;
  align-items: center;
}

@mixin flex-between-center() {
  @include flex-hbetween;
  align-items: center;
}

@mixin flex-center-center() {
  @include flex-hcenter;
  align-items: center;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center() {
  @include flex-column;
  align-items: center;
}


/************************************************
 *               P O S I T I O N                *
 ************************************************/

@mixin position-top-bottom($top: 0, $bottom: $top) {
  top: $top;
  bottom: $bottom;
}

@mixin position-top-left($top: 0, $left: 0) {
  top: $top;
  left: $left;
}

@mixin position-top-right($top: 0, $right: 0) {
  top: $top;
  right: $right;
}

@mixin position-top-left-bottom($top: 0, $left: 0, $bottom: $top) {
  top: $top;
  bottom: $bottom;
  left: $left;
}

@mixin position-top-left-right($top: 0, $left: 0, $right: $left) {
  top: $top;
  left: $left;
  right: $right;
}

@mixin position-top-right-bottom($top: 0, $right: 0, $bottom: $top) {
  top: $top;
  bottom: $bottom;
  right: $right;
}

@mixin position-bottom-left($bottom: 0, $left: 0) {
  bottom: $bottom;
  left: $left;
}

@mixin position-bottom-right($bottom: 0, $right: 0) {
  bottom: $bottom;
  right: $right;
}


/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/

@mixin padding-horizontal($left: auto, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

@mixin padding-vertical($top: auto, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin margin-horizontal($left: auto, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

@mixin margin-vertical($top: auto, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}