// palette
$Black: #495C6C;
$Blue: #008DCD;
$LightBlue: #94D1EC;
$DarkBlue: #0055B8;
$Gray: #B3B3B3;
$LightGray: #E1E1E1;
$DarkGray: #363636;
$Orange: #FFCC00;
$LightOrange: #FCE39C;
$Silver: #F4F4F4;
