@charset "UTF-8";
@font-face {
  font-family: "Myriad Pro Light";
  src: url("../fonts/myriadpro-light.ttf");
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/myriadpro-regular.ttf");
}
@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("../fonts/myriadpro-semibold.ttf");
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../fonts/myriadpro-bold.ttf");
}
@font-face {
  font-family: "Myriad Pro Black";
  src: url("../fonts/myriadpro-black.ttf");
}
@font-face {
  font-family: "Myriad Pro Semilight";
  src: url("../fonts/myriadpro-lightsemiext.ttf");
}
* {
  height: fit-content;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
  font-family: "Myriad Pro Regular", serif;
  color: black;
}

h1, h2, h3 {
  color: black;
}

h1 {
  font-family: "Myriad Pro Black", serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-family: "Myriad Pro Bold", serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 43px;
}

h3 {
  font-family: "Myriad Pro Semibold", serif;
  font-size: 30px;
  line-height: 36px;
}

p {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  color: #0055B8;
}
a, a:hover, a:active {
  text-decoration: none;
}
a:active {
  color: #003675;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

li {
  list-style-type: none;
}

.input {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  width: 360px;
  height: 48px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 1px 20px 0;
}
.input::placeholder {
  color: white;
}
@media (max-width: 1220px) {
  .input {
    padding: 1px calc(20px - (1220px - 100vw) * 0.0088495575) 0;
  }
}
@media (max-width: 768px) {
  .input {
    padding: 1px 16px 0;
  }
}
@media (max-width: 630px) {
  .input {
    padding: 0 calc(20px + (630px - 100vw) * 0.0096774194) 1px;
  }
}
@media (max-width: 320px) {
  .input {
    padding: 0 23px 1px;
  }
}

.button {
  cursor: url("../images/cursors/cursor-lg.png"), pointer;
  font-family: "Myriad Pro Bold", serif;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 250ms;
  width: 360px;
  height: 48px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 9px 26px 8px;
}
.button:active:not(:disabled) {
  transition: linear 25ms;
}
.button:disabled {
  color: #B3B3B3;
  background: white;
  border: 1px solid #B3B3B3;
}
@media (max-width: 1439px) {
  .button {
    width: calc(360px - (1440px - 100vw) * 0.119047619);
  }
}
@media (max-width: 830px) {
  .button {
    cursor: url("../images/cursors/cursor-lg.png"), pointer;
    text-align: right;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .button {
    cursor: url("../images/cursors/cursor-sm.png"), pointer;
    width: calc(280px - (768px - 100vw) * 0.0044642857);
  }
}
@media (max-width: 319px) {
  .button {
    width: 278px;
  }
}
.button_blue {
  color: white;
  background: #008DCD;
}
@media (hover) {
  .button_blue:hover:not(:active):not(:disabled) {
    box-shadow: 0 4px 15px 0 rgba(0, 141, 205, 0.45);
  }
}
@media (hover) and (max-width: 1439px) {
  .button_blue:hover:not(:active):not(:disabled) {
    box-shadow: 0 calc(4px - (1440px - 100vw) * 0.0029761905) calc(15px - (1440px - 100vw) * 0.0104166667) 0 rgba(0, 141, 205, 0.45);
  }
}
@media (hover) and (max-width: 768px) {
  .button_blue:hover:not(:active):not(:disabled) {
    box-shadow: 0 2px 8px 0 rgba(0, 141, 205, 0.45);
  }
}
@media (hover) {
  .button_blue:active:not(:disabled) {
    background: #94D1EC;
  }
}
.button_orange {
  color: #363636;
  background: #FFCC00;
}
@media (hover) {
  .button_orange:hover:not(:active):not(:disabled) {
    box-shadow: 0 4px 20px 0 rgba(255, 204, 0, 0.55);
  }
}
@media (hover) and (max-width: 1439px) {
  .button_orange:hover:not(:active):not(:disabled) {
    box-shadow: 0 calc(4px - (1440px - 100vw) * 0.0029761905) calc(20px - (1440px - 100vw) * 0.0148809524) 0 rgba(255, 204, 0, 0.55);
  }
}
@media (hover) and (max-width: 768px) {
  .button_orange:hover:not(:active):not(:disabled) {
    box-shadow: 0 2px 10px 0 rgba(255, 204, 0, 0.55);
  }
}
@media (hover) {
  .button_orange:active:not(:disabled) {
    background: #FCE39C;
  }
}

.checkbox {
  cursor: url("../images/cursors/cursor-lg.png"), pointer;
  font-size: 10px;
  line-height: 12px;
  width: fit-content;
  color: white;
  display: flex;
}
@media (max-width: 830px) {
  .checkbox {
    cursor: url("../images/cursors/cursor-lg.png"), pointer;
  }
}
@media (max-width: 767px) {
  .checkbox {
    cursor: url("../images/cursors/cursor-sm.png"), pointer;
  }
}
.checkbox .checkbox__input {
  visibility: hidden;
  position: absolute;
}
.checkbox .checkbox__input:checked + .checkbox__check:before {
  visibility: hidden;
  position: absolute;
}
.checkbox .checkbox__input:checked + .checkbox__check:after {
  visibility: visible;
  position: static;
}
.checkbox .checkbox__check {
  font-family: "FontAwesome", serif;
  font-size: 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
  width: 16px;
}
.checkbox .checkbox__check:before {
  visibility: visible;
  position: static;
  content: "";
}
.checkbox .checkbox__check:after {
  visibility: hidden;
  position: absolute;
  content: "";
}
@media (max-width: 1439px) {
  .checkbox .checkbox__check {
    width: calc(16px - (1440px - 100vw) * -0.0014880952);
  }
  .checkbox .checkbox__check:before, .checkbox .checkbox__check:after {
    margin-top: calc(0px + (1440px - 100vw) * -0.0014880952);
  }
}
@media (max-width: 630px) {
  .checkbox .checkbox__check {
    width: calc(16px - (630px - 100vw) * -0.0096774194);
  }
  .checkbox .checkbox__check:before, .checkbox .checkbox__check:after {
    margin-top: -1px;
  }
}
@media (max-width: 320px) {
  .checkbox .checkbox__check {
    width: 18px;
  }
}

.slick-arrow {
  cursor: url("../images/cursors/cursor-lg.png"), pointer;
  overflow: hidden;
  width: 22px;
  height: 22px;
  color: transparent;
  border-bottom: 2px solid #C4C4C4;
  border-left: 2px solid #C4C4C4;
  position: absolute;
}
@media (hover) {
  .slick-arrow:hover, .slick-arrow:active, .slick-arrow:focus {
    border-color: #008DCD;
  }
}
@media (max-width: 1439px) {
  .slick-arrow {
    width: calc(22px - (1440px - 100vw) * 0.0119047619);
    height: calc(22px - (1440px - 100vw) * 0.0119047619);
  }
}
@media (max-width: 830px) {
  .slick-arrow {
    cursor: url("../images/cursors/cursor-lg.png"), pointer;
  }
}
@media (max-width: 730px) {
  .slick-arrow {
    width: calc(22px - (730px - 100vw) * 0.0195121951);
    height: calc(22px - (730px - 100vw) * 0.0195121951);
  }
}
@media (max-width: 767px) {
  .slick-arrow {
    cursor: url("../images/cursors/cursor-sm.png"), pointer;
  }
}
@media (max-width: 768px), (max-width: 320px) {
  .slick-arrow {
    width: 14px;
    height: 14px;
  }
}
.slick-prev {
  transform: rotate(45deg);
}
.slick-next {
  transform: rotate(-135deg);
}

.container {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 calc(140px + 100% - 100vw) 0 140px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    padding-right: max(21px, calc(140px + 100% - 100vw - (1440px - 100vw) * 0.1577380952));
    padding-left: calc(140px - (1440px - 100vw) * 0.1577380952);
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: max(21px, calc(34px + 100% - 100vw - (768px - 100vw) * 0.0290178571));
    padding-left: calc(34px - (768px - 100vw) * 0.0290178571);
  }
}
@media (max-width: 320pxcalc(100vw - 100%)) {
  .container {
    padding: 0 21px;
  }
}

/*# sourceMappingURL=index.css.map */
