@import "mixins", "vars", "functions", "fonts";


* {
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}


body {
  @include font-family("regular");
  user-select: none;
  color: black;
}


h1, h2, h3 {
  color: black;
}

h1 {
  @include H1;
}

h2 {
  @include H2;
}

h3 {
  @include H3;
}


p {
  @include P;
}


a {
  @include A;
  color: black;
}


details > summary {
  list-style: none
}


details summary::-webkit-details-marker {
  display: none;
}


img {
  width: auto;
  height: auto;
}


li {
  list-style-type: none;
}



@media (pointer: fine) {
  a, button, input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}


@import "elements/input-text";
@import "elements/button";
@import "elements/checkbox";
@import "elements/slick";
@import "elements/container";