@import "mixins", "vars", "functions", "fonts";


* {
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}


*[data-blur] {
  filter: blur(7px) brightness(80%);
}


*[data-hide] {
  display: none;
}


body {
  @include font-family("regular");
  user-select: none;
  overflow-x: hidden;
  color: black;

  @media (max-width: $SizePhone + 20px) {
    overflow-x: auto;
  }
}


h1, h2, h3 {
  color: black;
}

h1 {
  @include H1;
}

h2 {
  @include H2;
}

h3 {
  @include H3;
}


p {
  @include P;
}


a {
  @include A;
  color: black;
}


details > summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
  &::marker {
    display: none;
  }
}


img {
  width: auto;
  height: auto;
}


li {
  list-style-type: none;
}


a, button, details, summary, input, label {
  height: max-content;

  @media (pointer: fine) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}


.link {
  @media (pointer: fine) {
    @include transition(color);
    &:active {
      @include transition(color, $TransitionActive);
      color: $VeryDarkBlue;
    }
  }
}


.menu-button {
  @include hide;
  cursor: pointer;

  @media (max-width: $SizeTablet - 1px) {
    @include show;
  }

  svg {
    fill: black;
  }
}


@import "elements/input-text";
@import "elements/button";
@import "elements/checkbox";
@import "elements/slick";
@import "elements/container";