@charset "UTF-8";
@font-face {
  font-family: "Myriad Pro Light";
  src: url("../fonts/myriadpro-light.ttf");
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/myriadpro-regular.ttf");
}
@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("../fonts/myriadpro-semibold.ttf");
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../fonts/myriadpro-bold.ttf");
}
@font-face {
  font-family: "Myriad Pro Black";
  src: url("../fonts/myriadpro-black.ttf");
}
@font-face {
  font-family: "Myriad Pro Semilight";
  src: url("../fonts/myriadpro-lightsemiext.ttf");
}
* {
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Myriad Pro Regular", serif;
  color: #495C6C;
}

h1, h2, h3 {
  color: #363636;
}

h1 {
  font-family: "Myriad Pro Black", serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
}

h2 {
  font-family: "Myriad Pro Bold", serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 43px;
}

h3 {
  font-family: "Myriad Pro Semibold", serif;
  font-size: 30px;
  line-height: 36px;
}

p {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  color: #0055B8;
}
a, a:hover, a:active {
  text-decoration: none;
}
a:active {
  color: #003675;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

li {
  list-style-type: none;
}

.link {
  color: #0055B8;
  border-bottom: 1px solid #0055B8;
}
.link:hover:not(:active) {
  border-bottom: none;
}
.link:active {
  color: #003675;
  border-bottom: 1px solid #003675;
}

.input {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  width: 360px;
  height: 48px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 1px 20px 0;
}
.input::placeholder {
  color: white;
}
@media (max-width: 1220px) {
  .input {
    padding: 1px calc(20px - (1220px - 100vw) * 0.0088495575) 0;
  }
}
@media (max-width: 768px) {
  .input {
    padding: 1px 16px 0;
  }
}
@media (max-width: 630px) {
  .input {
    padding: 0 calc(20px + (630px - 100vw) * 0.0096774194) 1px;
  }
}
@media (max-width: 320px) {
  .input {
    padding: 0 23px 1px;
  }
}

.button {
  transition: linear 250ms;
  cursor: pointer;
  width: 360px;
  height: 48px;
  font-family: "Myriad Pro Bold", serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 40px 8px;
}
.button:active:not(:disabled) {
  transition: linear 25ms;
}
.button:disabled {
  color: #B3B3B3;
  background: none;
  border: 1px solid #B3B3B3;
}
.button_blue {
  color: white;
  background: #008DCD;
}
.button_blue:hover:not(:active):not(:disabled) {
  box-shadow: 0 4px 15px rgba(0, 141, 205, 0.45);
}
.button_blue:active:not(:disabled) {
  background: #94D1EC;
}
@media (max-width: 1439px) {
  .button_blue:hover:not(:active):not(:disabled) {
    box-shadow: 0 calc(4px - (1440px - 100vw) * 0.0029761905) calc(20px - (1440px - 100vw) * 0.0148809524) rgba(0, 141, 205, 0.45);
  }
}
@media (max-width: 768px) {
  .button_blue:hover:not(:active):not(:disabled) {
    box-shadow: 0 2px 10px rgba(0, 141, 205, 0.45);
  }
}
.button_orange {
  color: #363636;
  background: #FFCC00;
}
.button_orange:hover:not(:active):not(:disabled) {
  box-shadow: 0 4px 20px rgba(255, 204, 0, 0.55);
}
.button_orange:active:not(:disabled) {
  background: #FCE39C;
}
@media (max-width: 1439px) {
  .button_orange:hover:not(:active):not(:disabled) {
    box-shadow: 0 calc(4px - (1440px - 100vw) * 0.0029761905) calc(20px - (1440px - 100vw) * 0.0148809524) rgba(255, 204, 0, 0.55);
  }
}
@media (max-width: 768px) {
  .button_orange:hover:not(:active):not(:disabled) {
    box-shadow: 0 2px 10px rgba(255, 204, 0, 0.55);
  }
}

.checkbox {
  cursor: pointer;
  width: fit-content;
  color: white;
  font-size: 10px;
  line-height: 12px;
  display: flex;
}
.checkbox .checkbox__input {
  visibility: hidden;
  position: absolute;
}
.checkbox .checkbox__input:checked + .checkbox__check:before {
  visibility: hidden;
  position: absolute;
}
.checkbox .checkbox__input:checked + .checkbox__check:after {
  visibility: visible;
  position: static;
}
.checkbox .checkbox__check {
  width: 16px;
  font-family: "FontAwesome", serif;
  font-size: 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
}
.checkbox .checkbox__check:before {
  content: "";
  visibility: visible;
  position: static;
}
.checkbox .checkbox__check:after {
  content: "";
  visibility: hidden;
  position: absolute;
}
@media (max-width: 630px) {
  .checkbox .checkbox__check {
    width: calc(16px + (630px - 100vw) * 0.0064516129);
  }
}
@media (max-width: 320px) {
  .checkbox .checkbox__check {
    width: 18px;
  }
}

.slick-arrow {
  cursor: pointer;
  overflow: hidden;
  width: 22px;
  height: 22px;
  color: transparent;
  border-bottom: 2px solid #C4C4C4;
  border-left: 2px solid #C4C4C4;
  position: absolute;
}
.slick-arrow:hover, .slick-arrow:active, .slick-arrow:focus {
  border-color: #008DCD;
}
@media (max-width: 1439px) {
  .slick-arrow {
    width: calc(22px - (1440px - 100vw) * 0.0119047619);
    height: calc(22px - (1440px - 100vw) * 0.0119047619);
  }
}
@media (max-width: 730px) {
  .slick-arrow {
    width: calc(20px - (730px - 100vw) * 0.0146341463);
    height: calc(20px - (730px - 100vw) * 0.0146341463);
  }
}
@media (max-width: 320px), (min-width: 731px) and (max-width: 768px) {
  .slick-arrow {
    width: 14px;
    height: 14px;
  }
}
.slick-prev {
  transform: rotate(45deg);
}
.slick-next {
  transform: rotate(-135deg);
}

.container {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 140px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 calc(140px - (1440px - 100vw) * 0.4818181818);
  }
}
@media (max-width: 1220px) {
  .container {
    padding: 0 34px;
  }
}
@media (max-width: 630px) {
  .container {
    padding: 0 21px;
  }
}

/*# sourceMappingURL=index.css.map */
