@import "fonts", "mixins", "vars";


* {
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Myriad Pro Regular", serif;
  color: $Black;
}

h1, h2, h3 {
  color: $DarkGray;
}

h1 {
  @include H1;
}

h2 {
  @include H2;
}

h3 {
  @include H3;
}

p {
  @include P;
}

a {
  @include A;
}

details > summary {
  list-style: none
}

details summary::-webkit-details-marker {
  display: none;
}

li {
  list-style-type: none;
}

.link {
  color: $DarkBlue;
  border-bottom: 1px solid $DarkBlue;
  &:hover:not(:active) {
    border-bottom: none;
  }
  &:active {
    color: #003675;
    border-bottom: 1px solid #003675;
  }
}


.input {
  @include P;
  width: $InputWidthLg;
  height: $InputHeightLg;
  color: white;
  border: 1px solid white;
  border-radius: $InputHeightLg / 8 * 5;
  padding: 1px 20px 0;
  &::placeholder {
    color: white;
  }

  @media (max-width: $Breakpoint-1220) {
    padding: 1px calc(20px - (#{$Breakpoint-1220} - 100vw) * #{4 / ($Breakpoint-1220N - $SizeTabletN)}) 0;
  }

  @media (max-width: $SizeTablet) {
    padding: 1px 16px 0;
  }

  @media (max-width: $Breakpoint-630) {
    padding: 0 calc(20px + (#{$Breakpoint-630} - 100vw) * #{3 / ($Breakpoint-630N - $SizePhoneN)}) 1px;
  }

  @media (max-width: $SizePhone) {
    padding: 0 23px 1px;
  }
}


@import "elements/button";
@import "elements/checkbox";
@import "elements/slick";
@import "elements/container";