@charset "UTF-8";
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
@font-face {
  font-family: "Myriad Pro Light";
  src: url("./fonts/myriadpro-light.ttf");
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("./fonts/myriadpro-regular.ttf");
}
@font-face {
  font-family: "Myriad Pro Semibold";
  src: url("./fonts/myriadpro-semibold.ttf");
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("./fonts/myriadpro-bold.ttf");
}
@font-face {
  font-family: "Myriad Pro Black";
  src: url("./fonts/myriadpro-black.ttf");
}
* {
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

*[data-blur] {
  filter: blur(7px) brightness(80%);
}

*[data-hide] {
  display: none;
}

body {
  font-family: "Myriad Pro Regular", serif;
  user-select: none;
  overflow-x: hidden;
  color: black;
}
@media (max-width: 340px) {
  body {
    overflow-x: auto;
  }
}

h1, h2, h3 {
  color: black;
}

h1 {
  font-family: "Myriad Pro Black", serif;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

h2 {
  font-family: "Myriad Pro Bold", serif;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
}

h3 {
  font-family: "Myriad Pro Semibold", serif;
  font-size: 30px;
  line-height: 36px;
}

p {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
}

a {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  color: #0055B8;
  text-decoration: none;
  color: black;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  display: none;
}

img {
  width: auto;
  height: auto;
}

li {
  list-style-type: none;
}

a, button, details, summary, input, label {
  height: max-content;
}
@media (pointer: fine) {
  a, button, details, summary, input, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@media (pointer: fine) {
  .link {
    -o-transition: color 250ms 0ms linear;
    -webkit-transition: color 250ms 0ms linear;
    -moz-transition: color 250ms 0ms linear;
    transition: color 250ms 0ms linear;
  }
  .link:active {
    -o-transition: color 25ms 0ms linear;
    -webkit-transition: color 25ms 0ms linear;
    -moz-transition: color 25ms 0ms linear;
    transition: color 25ms 0ms linear;
    color: #003675;
  }
}

.menu-button {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}
@media (max-width: 767px) {
  .menu-button {
    visibility: visible;
    position: static;
  }
}
.menu-button svg {
  fill: black;
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.input {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  width: 360px;
  height: 48px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 8px 20px 7px;
}
.input:-ms-input-placeholder {
  color: white;
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
  -o-transition: opacity 25ms 0ms linear;
  -webkit-transition: opacity 25ms 0ms linear;
  -moz-transition: opacity 25ms 0ms linear;
  transition: opacity 25ms 0ms linear;
}
.input::-moz-placeholder {
  color: white;
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
}
.input:focus::-moz-placeholder {
  opacity: 0;
  -o-transition: opacity 25ms 0ms linear;
  -webkit-transition: opacity 25ms 0ms linear;
  -moz-transition: opacity 25ms 0ms linear;
  transition: opacity 25ms 0ms linear;
}
.input:-moz-placeholder {
  color: white;
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
}
.input:focus:-moz-placeholder {
  opacity: 0;
  -o-transition: opacity 25ms 0ms linear;
  -webkit-transition: opacity 25ms 0ms linear;
  -moz-transition: opacity 25ms 0ms linear;
  transition: opacity 25ms 0ms linear;
}
.input::-webkit-input-placeholder {
  color: white;
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
  -o-transition: opacity 25ms 0ms linear;
  -webkit-transition: opacity 25ms 0ms linear;
  -moz-transition: opacity 25ms 0ms linear;
  transition: opacity 25ms 0ms linear;
}
.input::placeholder {
  color: white;
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
}
.input:focus::placeholder {
  opacity: 0;
  -o-transition: opacity 25ms 0ms linear;
  -webkit-transition: opacity 25ms 0ms linear;
  -moz-transition: opacity 25ms 0ms linear;
  transition: opacity 25ms 0ms linear;
}
@media (max-width: 1220px) {
  .input {
    width: calc(360px - (1440px - 100vw) * 0.119047619);
    padding: 8px calc(20px - (1220px - 100vw) * 0.0088495575) 7px;
  }
}
@media (max-width: 768px) {
  .input {
    padding: 8px 16px 7px;
  }
}
@media (max-width: 630px) {
  .input {
    padding: 8px calc(20px - (630px - 100vw) * -0.0096774194) 7px;
  }
}
@media (max-width: 320px) {
  .input {
    padding: 8px 23px 7px;
  }
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.button {
  font-family: "Myriad Pro Bold", serif;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 360px;
  height: 48px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 8px 26px 7px;
}
@media (pointer: fine) {
  .button {
    -o-transition: box-shadow 250ms 0ms linear;
    -webkit-transition: box-shadow 250ms 0ms linear;
    -moz-transition: box-shadow 250ms 0ms linear;
    transition: box-shadow 250ms 0ms linear;
  }
  .button:active:not(:disabled) {
    -o-transition: box-shadow 25ms 0ms linear;
    -webkit-transition: box-shadow 25ms 0ms linear;
    -moz-transition: box-shadow 25ms 0ms linear;
    transition: box-shadow 25ms 0ms linear;
  }
}
@media (max-width: 1439px) {
  .button {
    width: calc(360px - (1440px - 100vw) * 0.119047619);
  }
}
@media (max-width: 830px) {
  .button {
    text-align: right;
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .button {
    width: calc(280px - (768px - 100vw) * 0.0044642857);
  }
}
@media (max-width: 320px) {
  .button {
    width: 278px;
  }
}
.button:disabled {
  cursor: default;
  color: #B3B3B3;
  background: white;
  border: 1px solid #B3B3B3;
}
.button_blue {
  color: white;
  background: #008DCD;
}
@media (pointer: fine) {
  .button_blue:not(:disabled):hover:not(:active) {
    box-shadow: 0 4px 15px 0 rgba(0, 141, 205, 0.45);
  }
}
@media (pointer: fine) and (max-width: 1439px) {
  .button_blue:not(:disabled):hover:not(:active) {
    box-shadow: 0 calc(4px - (1440px - 100vw) * 0.0029761905) calc(15px - (1440px - 100vw) * 0.0104166667) 0 rgba(0, 141, 205, 0.45);
  }
}
@media (pointer: fine) and (max-width: 768px) {
  .button_blue:not(:disabled):hover:not(:active) {
    box-shadow: 0 2px 8px 0 rgba(0, 141, 205, 0.45);
  }
}
@media (pointer: fine) {
  .button_blue:not(:disabled):active {
    background: #94D1EC;
  }
}
.button_orange {
  color: #363636;
  background: #FFCC00;
}
@media (pointer: fine) {
  .button_orange:not(:disabled):hover:not(:active) {
    box-shadow: 0 4px 20px 0 rgba(255, 204, 0, 0.55);
  }
}
@media (pointer: fine) and (max-width: 1439px) {
  .button_orange:not(:disabled):hover:not(:active) {
    box-shadow: 0 calc(4px - (1440px - 100vw) * 0.0029761905) calc(20px - (1440px - 100vw) * 0.0148809524) 0 rgba(255, 204, 0, 0.55);
  }
}
@media (pointer: fine) and (max-width: 768px) {
  .button_orange:not(:disabled):hover:not(:active) {
    box-shadow: 0 2px 10px 0 rgba(255, 204, 0, 0.55);
  }
}
@media (pointer: fine) {
  .button_orange:not(:disabled):active {
    background: #FCE39C;
  }
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.checkbox {
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
  width: fit-content;
  display: flex;
}
.checkbox .checkbox__check {
  font-family: "FontAwesome", serif;
  font-size: 13px;
  line-height: 13px;
  display: flex;
  align-items: center;
  width: 16px;
  position: relative;
}
.checkbox .checkbox__check:before {
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
}
.checkbox .checkbox__check:after {
  -o-transition: opacity 250ms 0ms linear;
  -webkit-transition: opacity 250ms 0ms linear;
  -moz-transition: opacity 250ms 0ms linear;
  transition: opacity 250ms 0ms linear;
  content: "";
  opacity: 0;
}
@media (max-width: 1439px) {
  .checkbox .checkbox__check {
    width: calc(16px - (1440px - 100vw) * -0.0014880952);
  }
  .checkbox .checkbox__check:before {
    top: calc(0px - (1440px - 100vw) * 0.0014880952);
  }
  .checkbox .checkbox__check:after {
    margin-top: calc(0px - (1440px - 100vw) * 0.0014880952);
  }
}
@media (max-width: 768px) {
  .checkbox .checkbox__check {
    width: 17px;
  }
  .checkbox .checkbox__check:before {
    top: -1px;
  }
  .checkbox .checkbox__check:after {
    margin-top: -1px;
  }
}
@media (max-width: 630px) {
  .checkbox .checkbox__check {
    width: calc(16px - (630px - 100vw) * -0.0064516129);
  }
}
@media (max-width: 320px) {
  .checkbox .checkbox__check {
    width: 18px;
  }
}
.checkbox .checkbox__input {
  visibility: hidden;
  position: absolute;
}
.checkbox .checkbox__input:checked ~ .checkbox__check:after {
  opacity: 1;
}
@media (pointer: fine) {
  .checkbox:hover:not(:active) > .checkbox__check:after {
    opacity: 0.2;
  }
  .checkbox:hover:not(:active) > .checkbox__input:checked ~ .checkbox__check:after {
    opacity: 0.8;
  }
  .checkbox:active > .checkbox__check:after {
    -o-transition: fill stroke 25ms 0ms linear;
    -webkit-transition: fill stroke 25ms 0ms linear;
    -moz-transition: fill stroke 25ms 0ms linear;
    transition: fill stroke 25ms 0ms linear;
    opacity: 0.8;
  }
  .checkbox:active > .checkbox__input:checked ~ .checkbox__check:after {
    -o-transition: fill stroke 25ms 0ms linear;
    -webkit-transition: fill stroke 25ms 0ms linear;
    -moz-transition: fill stroke 25ms 0ms linear;
    transition: fill stroke 25ms 0ms linear;
    opacity: 0.2;
  }
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.slick-arrow {
  -o-transition: border-color 250ms 0ms linear;
  -webkit-transition: border-color 250ms 0ms linear;
  -moz-transition: border-color 250ms 0ms linear;
  transition: border-color 250ms 0ms linear;
  cursor: pointer;
  overflow: hidden;
  width: 22px;
  height: 22px;
  color: transparent;
  border-bottom: 2px solid #C4C4C4;
  border-left: 2px solid #C4C4C4;
  position: absolute;
}
@media (pointer: fine) {
  .slick-arrow:hover, .slick-arrow:focus {
    border-color: #008DCD;
  }
  .slick-arrow:active {
    -o-transition: border-color 25ms 0ms linear;
    -webkit-transition: border-color 25ms 0ms linear;
    -moz-transition: border-color 25ms 0ms linear;
    transition: border-color 25ms 0ms linear;
    border-color: #94D1EC;
  }
}
@media (max-width: 1439px) {
  .slick-arrow {
    width: calc(22px - (1440px - 100vw) * 0.0119047619);
    height: calc(22px - (1440px - 100vw) * 0.0119047619);
  }
}
@media (max-width: 730px) {
  .slick-arrow {
    width: calc(22px - (730px - 100vw) * 0.0195121951);
    height: calc(22px - (730px - 100vw) * 0.0195121951);
  }
}
@media (max-width: 768px), (max-width: 320px) {
  .slick-arrow {
    width: 14px;
    height: 14px;
  }
}
.slick-prev {
  transform: rotate(45deg);
}
.slick-next {
  transform: rotate(-135deg);
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.container {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 140px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    padding-right: calc(140px - (1440px - 100vw) * 0.1577380952);
    padding-left: calc(140px - (1440px - 100vw) * 0.1577380952);
    padding-right: max(calc(21px - 100vw + 320px), calc(140px + 100% - 100vw - (1440px - 100vw) * 0.1577380952));
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: calc(34px - (768px - 100vw) * 0.0290178571);
    padding-left: calc(34px - (768px - 100vw) * 0.0290178571);
    padding-right: max(calc(21px - 100vw + 320px), calc(34px + 100% - 100vw - (768px - 100vw) * 0.0290178571));
  }
}
@media (max-width: 320px) {
  .container {
    padding: 0 21px;
  }
}

/*# sourceMappingURL=index.css.map */
