@import "mixins", "vars", "functions";


body {
  background: #F1F1F1;
  padding: 30px;
}


.container {
  @include flex-between-center;
  z-index: 100;
  width: 1380px;
  height: 100%;
  background: white;
  padding: 30px;
  position: relative;
  margin: 0 auto;
}


.header {
  &__container {
    height: 88px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  &__block {
    @include flex-vcenter;
  }

  &__logo {
    width: 121px;
  }

  &__text {
    @include font-family("semibold");

    & span {
      margin-left: 122px;
    }
  }


  &__page-title {
    @include font-family("bold");
    @include font-size(22px, 26px);
    width: 768px;
    text-align: center;
  }
}


.pages {
  width: 1380px;
  margin: 0 auto;
}


.page {
  height: 876px;


  &__container {
    display: grid;
    grid-template-columns: [inform] 313px [content] 985px;
    grid-gap: 30px 20px;
  }


  &__inform {
    grid-column: inform;
    align-self: self-start;
    padding: 0 3px;
    margin-top: -3px;
  }


  &__content {
    grid-column: content;
    background: $Silver;
    padding: 30px;
  }


  &__number {
    @include font-size(14px, 16.8px);
    @include position-bottom-left(25px, 30px);
    position: absolute;

    &_bold {
      @include font-family("black");
    }
  }
}


.page-1 {
  &__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 272px 198px 0;
  }


  &__title {
    @include font-size(112px, 134.4px);
    color: $Blue;
  }


  &__text {
    @include font-size(42px, 50.4px);
    color: $VeryDarkGray;
    margin-top: 14px;
  }


  &__date {
    @include font-size(14px, 17px);
    @include position-bottom-left(26px, 30px);
    position: absolute;
  }


  &__number {
    @include position-bottom-right(26px, 30px);
    left: auto;
  }
}


.page-2 {
  &__text {
    padding: 20px 30px 38px;

    h1, h2 {
      text-transform: none;
    }

    h3 {
      margin: 25px 0 23px;
    }
  }


  &__breadcrumbs {
    margin-bottom: 18px;
  }


  &__links {
    margin-top: 38px;
  }


  &__link {
    @include A;
    border-bottom: 1px solid $DarkBlue;

    &:not(:first-of-type) {
      margin-left: 31px;
    }

    @media (pointer: fine) {
      &:hover:not(:active) {
        border-bottom: none;
      }

      &:active {
        color: $VeryDarkBlue;
      }
    }


    &_hover {
      border-bottom: none;
    }

    &_active {
      color: $VeryDarkBlue;
    }
  }


  &__link_upper {
    text-transform: uppercase;
  }
}


.page-3 {
  &__inform {
    padding: 0;

    p {
      margin-top: 13px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }


  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 35px;
    padding-bottom: 44px;
  }


  &__button {
    width: 285px;
    height: $InputHeightLg;


    &-blue_hover {
      @include box-shadow(rgba($Blue, 0.45), 15px, 4px);
    }

    &-blue_active {
      background: $LightBlue;
    }


    &-orange_hover {
      @include box-shadow(rgba($Orange, 0.55), 10px, 2px);
    }

    &-orange_active {
      background: $LightOrange;
    }
  }
}


.page-5 {
  &__inform {
    padding: 0;
  }

  &__icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 88px;
    grid-gap: 56px 64px;
    justify-items: center;
    align-items: center;
    padding: 27px 39px 45px 33px;
  }

  &__image {
    height: auto;

    &_delivery {
      width: 61px;
    }

    &_checklist {
      width: 62px;
    }

    &_reward {
      width: 66px;
    }

    &_hand, &_support {
      width: 68px;
    }

    &_form, &_watch {
      width: 69px;
    }

    &_scan {
      width: 74px;
    }

    &_free {
      width: 84px;
    }
  }
}


.page-7 {
  &__inform {
    padding: 0;
  }
}

.slick {
  &-arrow {
    @include position-top-bottom(0, 44px);
    z-index: 100;
    width: 22px;
    height: 22px;
    position: absolute;
    margin: auto;
  }

  &-prev {
    left: -32px;
  }

  &-next {
    right: -32px;
  }
 }


@import "elements/breadcrumbs";
@import "styleguide/fonts";
@import "styleguide/colors";
@import "styleguide/logos";
