/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
body {
  background: #F1F1F1;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 1380px;
  height: 100%;
  background: white;
  padding: 30px;
  position: relative;
  margin: 0 auto;
}

.header__container {
  height: 88px;
  padding-top: 0;
  padding-bottom: 10px;
}
.header__block {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 121px;
}
.header__text {
  font-family: "Myriad Pro Semibold", serif;
}
.header__text span {
  margin-left: 122px;
}
.header__page-title {
  font-family: "Myriad Pro Bold", serif;
  font-size: 22px;
  line-height: 26px;
  width: 768px;
  text-align: center;
}

.page {
  height: 876px;
}
.page__container {
  display: grid;
  grid-template-columns: [inform] 313px [content] 985px;
  grid-gap: 30px 20px;
}
.page__inform {
  grid-column: inform;
  align-self: self-start;
  padding: 0 3px;
  margin-top: -3px;
}
.page__content {
  grid-column: content;
  background: #F4F4F4;
  padding: 30px;
}
.page__number {
  font-size: 14px;
  line-height: 16.8px;
  bottom: 25px;
  left: 30px;
  position: absolute;
}
.page__number_bold {
  font-family: "Myriad Pro Black", serif;
}

.page-1__container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 272px 198px 0;
}
.page-1__title {
  font-size: 112px;
  line-height: 134.4px;
  color: #008DCD;
}
.page-1__text {
  font-size: 42px;
  line-height: 50.4px;
  color: #363636;
  margin-top: 14px;
}
.page-1__date {
  font-size: 14px;
  line-height: 17px;
  bottom: 26px;
  left: 30px;
  position: absolute;
}
.page-1__number {
  bottom: 26px;
  right: 30px;
  left: auto;
}

.page-2__text {
  padding: 20px 30px 38px;
}
.page-2__text h1, .page-2__text h2 {
  text-transform: none;
}
.page-2__text h3 {
  margin: 25px 0 23px;
}
.page-2__breadcrumbs {
  margin-bottom: 18px;
}
.page-2__links {
  margin-top: 38px;
}
.page-2__link {
  font-family: "Myriad Pro Regular", serif;
  font-size: 16px;
  line-height: 19px;
  color: #0055B8;
  text-decoration: none;
  border-bottom: 1px solid #0055B8;
}
.page-2__link:not(:first-of-type) {
  margin-left: 31px;
}
@media (pointer: fine) {
  .page-2__link:hover:not(:active) {
    border-bottom: none;
  }
  .page-2__link:active {
    color: #003675;
  }
}
.page-2__link_upper {
  text-transform: uppercase;
}

.page-3__inform {
  padding: 0;
}
.page-3__inform p {
  margin-top: 13px;
}
.page-3__inform p:first-of-type {
  margin-top: 0;
}
.page-3__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 35px;
  padding-bottom: 44px;
}
.page-3__button {
  width: 285px;
  height: 50px;
}
.page-3__button-blue_hover {
  box-shadow: 0 4px 15px 0 rgba(0, 141, 205, 0.45);
}
.page-3__button-blue_active {
  background: #94D1EC;
}
.page-3__button-orange_hover {
  box-shadow: 0 2px 10px 0 rgba(255, 204, 0, 0.55);
}
.page-3__button-orange_active {
  background: #FCE39C;
}

.page-5__inform {
  padding: 0;
}
.page-5__icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 88px;
  grid-gap: 56px 64px;
  justify-items: center;
  align-items: center;
  padding: 27px 39px 45px 33px;
}
.page-5__image {
  height: auto;
}
.page-5__image_delivery {
  width: 61px;
}
.page-5__image_checklist {
  width: 62px;
}
.page-5__image_reward {
  width: 66px;
}
.page-5__image_hand, .page-5__image_support {
  width: 68px;
}
.page-5__image_form, .page-5__image_watch {
  width: 69px;
}
.page-5__image_scan {
  width: 74px;
}
.page-5__image_free {
  width: 84px;
}

.page-7__inform {
  padding: 0;
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.breadcrumbs {
  display: flex;
}
.breadcrumbs__item {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #363636;
  border: none;
  margin-left: 3px;
}
.breadcrumbs__item:before {
  content: "/";
  display: inline-block;
  margin-right: 3px;
}
.breadcrumbs__item:first-of-type {
  margin-left: 0;
}
.breadcrumbs__item:first-of-type:before {
  content: "";
  margin-right: 0;
}
@media (pointer: fine) {
  .breadcrumbs__item:hover:not(:active) {
    text-decoration: underline;
  }
  .breadcrumbs__item:active {
    color: #B3B3B3;
    border: none;
  }
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
.fonts {
  display: grid;
  grid-template-columns: [font-1] 1fr [font-2] 1fr;
  grid-template-rows: 140px;
  grid-gap: 39px 58px;
  padding: 22px 20px 47px;
}
.fonts__caption {
  font-size: 24px;
  line-height: 29px;
  grid-column: caption;
}
.fonts__font-1, .fonts__font-2 {
  color: #363636;
  display: flex;
}
.fonts__font-1 {
  grid-column: font-1;
}
.fonts__font-2 {
  grid-column: font-2;
}
.fonts__view {
  font-size: 105px;
  line-height: 126px;
  width: 144px;
  margin-top: -16px;
}
.fonts__info {
  margin-left: 5px;
}
.fonts__title {
  font-size: 26px;
  line-height: 31px;
  margin-top: 3px;
}
.fonts__example {
  margin-top: 13px;
}
.fonts__example:last-of-type {
  margin-top: 6px;
}
.fonts_light {
  font-family: "Myriad Pro Light", serif;
}
.fonts_light .fonts__title, .fonts_light .fonts__example {
  font-family: "Myriad Pro Light", serif;
}
.fonts_semibold {
  font-family: "Myriad Pro Semibold", serif;
}
.fonts_semibold .fonts__title, .fonts_semibold .fonts__example {
  font-family: "Myriad Pro Semibold", serif;
}
.fonts_black {
  font-family: "Myriad Pro Black", serif;
}
.fonts_black .fonts__title, .fonts_black .fonts__example {
  font-family: "Myriad Pro Black", serif;
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
.colors {
  display: grid;
  grid-template-columns: [caption] 1fr repeat(4, 128px);
  grid-gap: 50px 40px;
  padding-bottom: 28px;
  padding-right: 20px;
}
.colors__caption {
  font-family: "Myriad Pro Semibold", serif;
  font-size: 24px;
  line-height: 29px;
  grid-column: caption;
}
.colors__box {
  font-family: "Myriad Pro Semibold", serif;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 32px;
}
.colors__box_blue {
  color: white;
  background: #008DCD;
}
.colors__box_light-blue {
  background: #94D1EC;
}
.colors__box_orange {
  background: #FFCC00;
}
.colors__box_light-orange {
  background: #FCE39C;
}
.colors__box_dark-gray {
  color: white;
  background: #363636;
}
.colors__box_gray {
  background: #B3B3B3;
}
.colors__box_light-gray {
  background: #C4C4C4;
}
.colors__box_white {
  background: white;
}
.colors__text {
  font-size: 12px;
  line-height: 15px;
  color: #8A8F92;
  margin-top: 14px;
}
.colors__text:first-of-type {
  margin-top: 24px;
}
.colors__text_bold {
  font-family: "Myriad Pro Black", serif;
  width: 50px;
  color: #363636;
  display: inline-block;
}

/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
/************************************************
 *              C A L C  S I Z E S              *
 ************************************************/
/************************************************
 *   C A L C  S I Z E S  W I T H  S C R O L L   *
 ************************************************/
/************************************************
 *             H I D E  /  S H O W              *
 ************************************************/
/************************************************
 *                  F O N T S                   *
 ************************************************/
/************************************************
 *                 I M A G E S                  *
 ************************************************/
/************************************************
 *                 S H A D O W                  *
 ************************************************/
/************************************************
 *                D I S P L A Y                 *
 ************************************************/
/************************************************
 *               P O S I T I O N                *
 ************************************************/
/************************************************
 *        P A D D I N G  /  M A R G I N         *
 ************************************************/
/************************************************
 *                  S I Z E S                   *
 ************************************************/
/************************************************
 *                P A L E T T E                 *
 ************************************************/
/************************************************
 *                E F F E C T S                 *
 ************************************************/
.main-logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
}
.main-logo__block {
  width: 453px;
}
.main-logo__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 244px;
}
.main-logo__image_without-tagline {
  width: 238px;
  margin: 0 3px 3px 0;
}
.main-logo__image_with-tagline {
  width: 281px;
  margin: 5px 0 0 47px;
}
.main-logo__label {
  margin: 18px 0 0 1px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.logos__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 453px;
  height: 187px;
}
.logos__image_black {
  background: #363636;
  padding: 0 12px 10px 0;
}
.logos__image_blue {
  background: #008DCD;
  padding: 0 3px 8px 0;
}
.logos__image_white {
  background: white;
  padding: 0 5px 13px 0;
}
.logos__image_white-blue {
  background: white;
  padding: 0 0 5px 1px;
}

/*# sourceMappingURL=styleguide.css.map */
